.main {
    height: auto;
    width: 100%;
    background-color: #1C1C1C;
    margin-top: 20px;
  }
  
  .hero {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #1C1C1C;
    position: relative; 
    margin-top:1rem;   
    padding-bottom: 4.5vw;
    padding-left: 0px;
    z-index: 0;
  }
  
  .hero1 {
    height: 100%;
    width: 100%;    
    padding: 3vw;
    z-index: 1;
  }
  
  .heroone {
    padding-top: 2.5rem;
    padding-bottom: 1vw;
  }
  
  
  .hero2 {
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  span{
    color: transparent;
    background-clip: text;
  }
  
  .heroone strong {
    font-size: 2.1rem;
    color: #FFFFFF;
    letter-spacing: 0.1vw;
  }
  
  .smallcontent strong {
    font-size: 1.2rem;
    color: #FFFFFF;
    letter-spacing: 0.1vw;
  }
  
  .circle {
    height: 52rem;
    width: 50rem;
    background-color: rgba(255, 92, 0, 0.29);
    filter: blur(100px);
    position: absolute;
    top: 60%; 
    left: -35%;
    border-radius: 50%;
    overflow: hidden;
    z-index: -1;
  }
  
  
  .maincontent {
    padding-top: 50px;
    display: flex;
    align-items: center;
  }
  
  .smallcontent {
    display: flex;
    align-items: center;
  }
  
  
  .herotwo {
    padding-top: 2vw;
    padding-bottom: 3vw;
  }
  

@media (max-width: 1025px) {
.heroone strong{
    font-size: 1.3rem;
}

.herotwo strong{
    font-size: 0.8rem;
}

}
  
  @media screen and (max-width: 768px) {
    .hero {
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      background-color: #1C1C1C;
      position: relative; 
      margin-top: 1rem;
      margin-right: 0rem;
    }
  
    .smallcontent {
      padding-top: 1rem;
    }
  
    .hero1 {
      z-index: 1; 
      padding-left: 25px;
    }
  }


  
  @media screen and (max-width: 480px) {

    .heroone strong{
      font-size: 1.3rem;
      text-align: center;
    }
  .hero1{
      margin-left: 0.5rem;
      margin-top: 2rem;
  }
  .smallcontent strong{
    font-size: 1rem;
  }
    .hero {
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      background-color: #1C1C1C;
      position: relative; 
      align-items: center;
    }

    .hero1{
      margin-top: -0.5rem;
      margin-left: 1.5rem;
    }

    .smallcontent {
      padding-top: 1rem;
    }

    .circle{
      top: 20%;
      left: -150%;
      height: 100vw;
      background-color: rgba(255, 92, 0, 0.49);
    }
  }
