.main{
    height: auto;
    width: full;
    background-color: #1C1C1C;
    margin-top: 20px;

}

.hero{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #1C1C1C;
    position: relative; 
    padding-bottom: 4.5vw;
    margin-top: 1rem;
    padding-left: 30px;
    z-index: 0;
}

.hero1{
   height:100%;
    width: 100%;    
    padding:3vw;
    padding-top: 4vw;
    z-index: 1;
    // display: none;
}

.heroone{
    padding-top: 5vw;
    padding-bottom: 1vw;
    margin-top: -7rem;
    // padding-left: 3vw;
}
.hero2{
    // min-height: 100vh;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
   
}

.circle{
    height: 52rem;
    width: 50rem;
    background-color:  rgba(255, 92, 0, 0.19);
    filter: blur(100px);
    position: absolute;
    top: 60%; 
    left: -35%;
    border-radius: 50%;
    overflow: hidden;
}


.hero1 h2{
    color: #FFFFFF;
    font-size: 2.8vw;
    letter-spacing: 0.1vh;
    line-height: 3rem;
}
.hero1 p{
    color: #FF5C00; //#FF5C00;
    margin-left: 0.5vw;
    
}
.maincontent{
    padding-top: 50px;
    display: flex;
    align-items: center;
}
.smallcontent{
    display: flex;
    align-items: center;
}
.hero1 h3{
    margin-left: 0.5vw;
    color: #FF5C00;
    font-size: 3vw;
}

.herotwo{
    padding-top: 2vw;
    padding-bottom: 3vw;
    // padding-left: 3vw;
}

h4{
    font-size: 1.7vw;
   color: #FFFFFF;
    margin-left: 0.3vw;
    letter-spacing: 0.1vw;
}
h5{
    font-size: 1.7vw;
    color: #FF5C00;
    margin-left: 0.5vw;
}

@media (min-width: 2400px){
    .main{
        margin-right: 45rem;
    }
}


@media screen and (max-width: 768px){

    .hero{
        // min-height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        background-color: #1C1C1C;
        position: relative; 
        margin-top: 1rem;
        margin-right: 0rem;
    }

    .hero1 h2{
        color: #FFFFFF;
        font-size: 5vw;
        line-height: 2rem;
    }

    .hero1 h3{
        margin-left: 1.5vw;
        color: #FF5C00;
        font-size: 5vw;
    }
    
    h4{
        font-size: 3vw;
       color: #FFFFFF;
        margin-left: 0.3vw;
    }

    h5{
        font-size: 3vw;
        color: #FF5C00;
        margin-left: 1vw;
        margin-right: 1vw;
    }
    
    .smallcontent{
        padding-top: 1rem;
    }

    .hero1{
        margin-left:7%;
        margin-top: 21%;
    }

    .hero1{
        height:100%;
         width: 100%;    
         padding:2vw;
         padding-top: 2vw;
         z-index: 1; 
         // display: none;
     }
}

@media screen and (max-width: 400px) {
    .hero{
        // min-height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        background-color: #1C1C1C;
        position: relative; 
        margin-top: -3rem;
    }

    .hero1 h2{
        color: #FFFFFF;
        font-size: 5vw;
    }

    .hero1 h3{
        margin-left: 1.5vw;
        color: #FF5C00;
        font-size: 5vw;
    }
    
    h4{
        font-size: 3vw;
       color: #FFFFFF;
        margin-left: 0.3vw;
    }

    h5{
        font-size: 3vw;
        color: #FF5C00;
        margin-left: 1vw;
        margin-right: 1vw;
    }
    
    .smallcontent{
        padding-top: 3rem;
    }

    .hero1{
        margin-left:7%;
        margin-top: 21%;
    }

  
    .hero1{
        height:100%;
         width: 100%;    
         padding:2vw;
         padding-top: 2vw;
         z-index: 1; 
         // display: none;
     }
}


