.container {
    background-color: #2f2f2f;
    border: 1px solid #ffffff61;
    border-radius: 10px;
    padding: 20px;
    width: 50vw;
    display: flex;
    
    flex-direction: row;
    margin: 2% auto;
    // margin-top: 5px;
  }
  
  .container h2 {
    color: #ff6b00;
    font-size: 1.3rem;
  }
  .signin {
    width: 40vw;
    display: flex;
    flex-direction: column;
    margin-right: 3%;
  }
  .sideImage {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    background-color: #949494;
    width: 28rem;
    // height: 37rem;
    margin-left: auto;
  }


.circle{
  height: 25rem;
  width: 25rem;
  background-color:  rgba(255, 92, 0, 0.19);
  filter: blur(100px);
  position: absolute;
  top: 40%; 
  left: -12%;
  border-radius: 50%;
  overflow: hidden;
  z-index: 0;
}

.circle1{
  height: 25rem;
  width: 25rem;
  background-color: rgba(255, 92, 0, 0.19);
  position: absolute;
 
  top: 5%;
  right: -5%;
  border-radius: 50%;
  filter: blur(100px);
  // overflow: hidden;
}

.ArrowBackIcon {
  position: absolute;
  top: 5%;
  left: 30px;
  color: #fff;
  cursor: pointer;
}

.google_btn{
  border-radius: 0.34225rem;
   border: 1.095px solid var(--primary-white, #FFFFFF50);
   font-size: 1rem;
}

.google_btn:hover{
  border:1px solid #fff;
}
  
  @media (max-width: 600px) {
    .container {
   
      width: 75vw;
      margin-top: 13%;
      margin-bottom: 5%;
    }
 
    .signin {
      width: 100%;
    }
    .sideImage{
      display: none;
    }
    .circle {
      height: 20rem;
      width: 20rem;
      top: 30%;
      left: 0%;
      z-index: 0;
    }
  
    .circle1 {
      height: 15rem;
      width: 15rem;
      top: 10%;
      right: -10%;
  
      // overflow: hidden;
    }
  }
  @media (max-width: 800px) {
    .container {
 
      margin-top: 13%;
      margin-bottom: 5%;
    }

    .sideImage{
      display: none;
    }
 
    .signin {
      width: 100%;
    }

    .circle {
      height: 20rem;
      width: 20rem;
      top: 30%;
      left: 0%;
      z-index: 0;
    }
  
    .circle1 {
      height: 15rem;
      width: 15rem;
      top: 10%;
      right: -10%;
  
      // overflow: hidden;
    }
  }
  @media (max-width: 1100px) {
    .container {
      width: 65 vw;
      
      margin-top: 13%;
      margin-bottom: 5%;
    }
 
    .signin {
      width: 60vw;
    }

    .circle {
      height: 20rem;
      width: 20rem;
      top: 30%;
      left: 0%;
      z-index: 0;
    }
  
    .circle1 {
      height: 15rem;
      width: 15rem;
      top: 10%;
      right: -10%;
  
      // overflow: hidden;
    }
  }
  
  @media (max-width: 500px) {
    .container {
      flex-direction: column;
      width: 88vw;
      margin-top: 13%;
      margin-bottom: 5%;
    }

 
   
     .signin {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 5%;
  }

  .circle {
    height: 15rem;
    width: 15rem;
    top: 30%;
    left: 0%;
    z-index: 0;
  }

  .circle1 {
    height: 15rem;
    width: 15rem;
    top: 10%;
    right: -10%;

    // overflow: hidden;
  }

  .ArrowBackIcon {
    top: 2%;
    left:8%
  }
  }
  