# Global owner for all files
* @PrityanshuSingh

# Reviewers for directories
.github/ @saurav1729 @raazseth @PrityanshuSingh
src/ @saurav1729 @raazseth @PrityanshuSingh

# Reviewers for specific file types
*.scss @saurav1729 @raazseth @PrityanshuSingh
*.jsx  @saurav1729 @raazseth @PrityanshuSingh
*.json @saurav1729 @raazseth @PrityanshuSingh
PROJECT_STRUCTURE.md @saurav1729 @raazseth @PrityanshuSingh
README.md @saurav1729 @raazseth @PrityanshuSingh
index.html @saurav1729 @raazseth @PrityanshuSingh
vercel.json @saurav1729 @raazseth @PrityanshuSingh
vite.config.js @saurav1729 @raazseth @PrityanshuSingh
