#profile {
    color: #ffffff;
    font-family: rubik;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    padding-left: 33px;
    padding-top: 81px;
    padding-bottom: 27px;
  }
  
  .proHeading {
    font-size: 38px;
    letter-spacing: 0.02em;
    line-height: 40px;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .headInnerText{
    margin-inline: auto;
  }
  
  .headInnerText span{
   margin-right: 3px;
   background: linear-gradient(to right , #d03e21 40%, #FF8A00 );
   -webkit-background-clip: text;
   color: transparent;
  
  }
  
  .details{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    // background-color: red;
    margin-left: 10rem;
  
  }
  
  .dets,
  .vals {
    font-family: "Rubik", sans-serif;
    font-size: 25px;
    padding-bottom: 30px;
  }
  
  .dets {
    padding-right: 100px;
  }
  
  @media screen and (max-width:989px) {
    .details{
      width: 90%;
      margin-left: 5rem;
    }
  }
  
  @media screen and (max-width:867px) {
    .details{
      width: 90%;
      margin-left: 2rem;
    }
  }
  
  @media screen and (max-width:625px) {
    .details{
      width: 90%;
      margin-right: 1rem;
      margin-left: 1rem;
    }
  }
  
  @media screen and (max-width:400px) {
    #profile {
      padding-left: 15px;
      padding-right: 15px;
    }
  
    .dets {
      padding-right: 50px;
    }
  }
  
  