.main{
    height: 80vh;
    width: 100%;
    background-color: black;
    position: relative;
    padding: 5vw;
}

.attend{
    height: 100%;
    width: 100%;
}

.heading{
    display: flex;
    align-items: center;
    justify-content: center;
}

.why{
    margin-right: 1vw;
    letter-spacing: 1px;
}
.omega{
    color: #00D1FF;
    
}

.boxmain{
    height: 50vh;
    width: 100%;
    margin-top: 5vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.box{
    position: relative;
    height: 15vh;
    width: 36%;
    margin: 4vh;
    background-color: rgb(0, 0, 0);
    z-index: 3;
    border: 2px solid white;
    background-color: rgba(0,0,0,0);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.text{
    font-size: 1.3vw;
    margin-right: 5vw;
    font-weight: 600;
}
.icon{
    height: 100%;
    width: 8vw;
    padding: 1vw;
}

img{
    height: 100%;
    width: auto;
}








.circle1{
    position: absolute;
    z-index: 2;
    top: 280%;
    left: -12%;
    filter: blur(40px);
    border-radius: 60px;
    transform: rotate(60deg);
    background: linear-gradient(#009ACA , #000695);
    height: 50vh;
    width: 20vw;
}

.circle2{
    position: absolute;
    top: 280%;
    right: -12%;
    background: linear-gradient(#4B00C6 , #0047FF , #50FF34 ,#00D1FF );
    filter:blur(40px);
    border-radius: 50%;
    transform: rotate(60deg);
    height: 50vh;
    width: 20vw;
}

@media (max-width: 1024px) {
    .circle2{display: none;}
}