@import "/src/assets/styles/Global.scss";

.card {
  width: 30rem;
  background: linear-gradient(
    90deg,
    rgba(32, 32, 32, 0.95) -11.52%,
    rgba(37, 37, 37, 0.95) 106.29%
  );
  font-size: 0.75rem;
  color: white;
  text-align: center;
  // position: relative;
  // top: 2rem;
  // left: 35%;
  z-index: 5;
  border-radius: 1.26863rem;
  border: 1.2px solid rgba(214, 214, 214, 0.81);
  overflow: hidden;
}

.card a{
  color: #fff;
}

.img {
  height: 100%;
  width: 98%;
 
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
  border: 0.973px solid #fff;
  box-shadow: 1.945px 1.945px 0px 0px;
}

.backimg {
  width: 92%;
  // overflow: hidden;
  margin-inline: auto;
  margin-top: 6%;
  height: auto;
  
}

.date {
  height: 10%;
  width: 13%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgb(143, 139, 139);
  color: white;
  position: absolute;
  left: 2.4rem;
  border-radius: 10px;
  text-align: center;
  font-size: 1rem;
  padding: 7px;
  top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backtxt {
  width: 87%;
  height: 6.8rem;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */

  text-align: start;
  font-size: 0.8rem;
  // padding-bottom: 4%;
  margin-inline: auto;
  // margin-top: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 4%;
}


.backtxt::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}


.backbtn {
  width: 87%;
  display: flex;
  justify-content: space-between;
  margin-top: 0.4rem;
  align-items: center;
  margin-inline: auto;
}

.eventname {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: start;
  background: var(
    --Primary,
    linear-gradient(
      260deg,
      rgba(255, 190, 11, 0.84) -29.7%,
      rgba(244, 43, 3, 0.84) 128.34%
    )
  );
  color: transparent;
  background-clip: text;
}

.eventname p {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  margin-top: 0.1rem;
  color: #fff;
}

.registerbtn button {
  border-radius: 0.35788rem;
  background: var(
    --Primary,
    linear-gradient(
      260deg,
      rgba(255, 190, 11, 0.84) -29.7%,
      rgba(244, 43, 3, 0.84) 128.34%
    )
  );
  display: inline-flex;
  color: #fff;
  padding: 0.5rem 0.9rem;
  justify-content: center;
  align-items: center;
  gap: 0.71575rem;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
}


.closeModal {
  color: white;
  border: none;
  background: none;
  font-size: 30px;
  position: absolute;
  cursor: pointer;
  top: -8%;
  right: 1.8%;
}

.card button {
  z-index: 10;
}

.share {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgb(143, 139, 139);
  color: #f97507;
  position: absolute;
  top: 0.8rem;
  right: 2.8rem;
  text-align: center;
  border-radius: 7px;
  font-size: 0.75rem;
  font-weight: 800;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 2px;
  cursor: pointer;
  gap: 5px;
}

.shareIcon {
  height: 1rem;
  width: 1rem;
}

@media (max-width:361px) {
  .registerbtn button {
    border-radius: 0.35788rem;
    background: var(
      --Primary,
      linear-gradient(
        260deg,
        rgba(255, 190, 11, 0.84) -29.7%,
        rgba(244, 43, 3, 0.84) 128.34%
      )
    );
    display: inline-flex;
    color: #fff;
    padding: 0.6rem 0.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.71575rem;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 0.5rem;
  }

  .eventname{
    font-size: 1.1rem;
  }

  .date{
    font-size: 0.5rem;
  }
  
}



@media(min-width:362px)and (max-width: 400px) {
  .card {
    width: 21rem;
    margin-top: 1%;

    // position: absolute;
    // top: 6rem;
    // left: 1.2rem;
    z-index: 5;
  }

  .date{
    font-size: 0.7rem;
  }

  .eventname {
    font-size: 1.1rem;
  }

  .registerbtn button {
    border-radius: 0.35788rem;
    background: var(
      --Primary,
      linear-gradient(
        260deg,
        rgba(255, 190, 11, 0.84) -29.7%,
        rgba(244, 43, 3, 0.84) 128.34%
      )
    );
    display: inline-flex;
    color: #fff;
    padding: 0.3rem 0.6rem;
    justify-content: center;
    align-items: center;
    gap: 0.71575rem;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 0.7rem;
  }

  .backtxt{
    height: 6.7rem;
  }
  

  .closeModal{
    top: -1.6rem;
    right: 0.5rem;
  }
}

@media (min-width: 401px) and (max-width: 500px) {
  .card {
    width: 23rem;

    // position: absolute;
    // top: 6rem;
    // left: 2rem;
    z-index: 5;
  }

  .eventname {
    font-size: 1.3rem;
  }
  

  
  .date{
    font-size: 0.7rem;
  }



  .registerbtn button {
    border-radius: 0.35788rem;
    background: var(
      --Primary,
      linear-gradient(
        260deg,
        rgba(255, 190, 11, 0.84) -29.7%,
        rgba(244, 43, 3, 0.84) 128.34%
      )
    );
    display: inline-flex;
    color: #fff;
    padding: 0.6rem 0.7rem;
    justify-content: center;
    align-items: center;
    gap: 0.71575rem;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 0.7rem;
  }

  .backtxt{
    height: 6.72rem;
  }
  

  .closeModal{
    top: -1.6rem;
    right: 0.2rem;
  }
}


@media (min-width: 501px) and (max-width: 600px) {
  .card {
    width: 28rem;

    // position: absolute;
    // top: 6rem;
    // left: 3.2rem;
    z-index: 5;
  }

  .eventname {
    font-size: 2rem;
  }
}
@media (min-width: 601px) and (max-width: 700px) {
  .card {
    width: 28rem;

    // position: absolute;
    // top: 7rem;
    // left: 5.8rem;
    z-index: 5;
  }

  .eventname {
    font-size: 2rem;
  }
}
@media (min-width: 701px) and (max-width: 800px) {
  .card {
    width: 27rem;

    // position: absolute;
    // top: 7rem;
    // left: 8.8rem;
    z-index: 5;
  }

  .eventname {
    font-size: 2rem;
  }
}
@media (min-width: 801px) and (max-width: 900px) {
  .card {
    width: 28rem;

    // position: absolute;
    // top: 5rem;
    // left: 10.8rem;
    z-index: 5;
  }

  .eventname {
    font-size: 2rem;
  }
}
