.main {
  margin-top: 0em;
  margin-left: 2rem;
}
.formHead {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 2vw;
  margin-right: 2vw;
}
.memberInput {
  width: 90% !important;
}
