@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



@keyframes bounce {
    0%, 100% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0,0.2,1);
    }
}

.chatbottoggle {
    position: fixed;
    bottom: 30px;
    right: 35px;
    outline: none;
    border: none;
    height: 75px;
    width: 75px;
    z-index:50;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--primary);
    box-shadow: 0 3px 4px 2px #06060690;
    transition: all 0.2s ease;
    animation: fade-in 2s;
    backdrop-filter: blur(20px);
    animation: bounce 1s infinite;
}


.chatbottoggle span{
  margin-top: 5px;
  font-size: 3rem;
  color:rgb(255, 255, 255);
  z-index: 50;
}

.hidden{
  display: none;
}


 .chatcontainer {
    width: 360px;
    margin: 0 auto;
    position: fixed;
    z-index: 50;
    border: 1px solid #6e6c6a;
    border-radius: 25px;
    font-family: "Poppins", sans-serif;
    top: 2rem;
    right: 0;
    margin-right: 30px;
    height: auto;
    animation: fade-in 1s;
    backdrop-filter: blur(20px);
  }

  header{
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1c1c1c98;
    border-radius: 25px 25px 0px 0px;
  }

  .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
  }

  .logo img{
    height: 2.35rem;
    margin-right: 0.5rem;
  }

  .close{
    margin-right: 15px;
    margin-top: 5px;
    font-size: 2rem;
    cursor: pointer;
  }

  .fed{
    font-weight: 650;
    text-align: center;
    font-size: 1.5rem;
    line-height: 36px;
  }

  hr{
    margin-bottom: 5px;
    border: 1px solid #6e6c6a;
  }
  
  .chatbox {
    padding: 10px;
    height: 490px;
    overflow-y: auto;
    color: black;
    background-color: #1c1c1c98;
    scrollbar-width: none; 
  }
  
  .usermessage,
  .botmessage {
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 0.95rem;
    padding: 0.5rem;
    color:black;
    border-radius: 10px;
    max-width: 80%;
    position: relative;
    animation: fade-in 2s;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .usermessage {
    text-align: right;
    background-color: #e0e0e0;
    left: 20%;
  }

  .usermessage:after {
    content: "";
    position: absolute;
    top: -10px;
    left: 99%;
    width: 0px;
    height: 0px;
    border-bottom: 20px solid #e0e0e0;
    border-right: 20px solid transparent;
    transform: translateX(-50%) translateY(50%) rotate(87deg); 
  }
  
  .botmessage {
    text-align: left;
    background-color: #FF8A00;
    color:black;
  }

  .botmessage:after {
    content: "";
    position: absolute;
    top: -20px;
    left: 2%;
    width: 0px;
    height: 0px;
    color:black;
    border-bottom: 20px solid #FF8A00;
    border-right: 20px solid transparent;
    transform: translateX(-50%) translateY(50%) rotate(315deg); 
  }
  
  .inputArea{
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color:black;
    background-color: #1c1c1c98;
    border-radius: 0px 0px 25px 25px;
  }

  input{
    border: none;
    height: 2.5rem;
    width: 290px;
    padding:0.5rem;
    padding-left: 1rem ;
    color:black;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  input:focus{
    outline: none;
  }

  .sendMessage{
    border: none;
    height: 2.5rem;
    width: 50px;
    margin-top: 0rem;
    margin-bottom: 0px;
    font-size: 1.15rem;
    color:black;
    background-color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
  }

    .sendIcon {
        color: #FF8A00;
        margin-top:.5rem;
      }

      
.chatbox::-webkit-scrollbar {
  width: 0px; 
}

.typingIndicator {
  font-style: italic;
  color: #fff;
}

@keyframes fade-in {
  from {
     opacity: 0;
  }
  to {
     opacity: 1;
  }
}


// Add media query for screens smaller than 768px
@media (max-width: 768px) {
    .chatcontainer {
        height: auto;
        right:-20px;
    }
    .chatbox {
        height: 70vh;
    }
}

// Add media query for screens smaller than 480px
@media (max-width: 480px) {
    .chatcontainer {
        height: auto;
        right:-20px;
    }
    .chatbox {
        height: 60vh;
    }
}
