@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.popup {
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.fadeIn {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease-in;
}

.chatbottoggle {
  position: fixed;
  bottom: 30px;
  right: 35px;
  outline: none;
  border: none;
  height: 70px;
  width: 70px;
  z-index: 50;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--primary);
  box-shadow: 0 3px 4px 2px #06060690;
  transition: all 0.2s ease;
  animation: fade-in 2s;
  backdrop-filter: blur(20px);
  animation: bounce 1s infinite;
}

.chatbottoggle:hover {
  transition: 0.2s linear;
  background: linear-gradient(
    260deg,
    rgba(255, 190, 11, 0.9) -29.7%,
    rgba(244, 43, 3, 0.9) 128.34%
  );
}

.chatbottoggle span {
  margin-top: 5px;
  font-size: 3rem;
  color: rgb(255, 255, 255);
  z-index: 50;
}

.hidden {
  display: none;
}

.chatcontainer {
  width: 340px;
  height: fit-content;
  margin: 0;
  position: fixed;
  z-index: 50;
  border: 1px solid #6e6c6a;
  border-radius: 25px;
  font-family: "Poppins", sans-serif;
  margin: 0 20px;
  animation: fade-in 1s;
  backdrop-filter: blur(20px);
}

header {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1c1c1c98;
  border-radius: 25px 25px 0px 0px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}

.logo img {
  height: 2.35rem;
  margin-right: 0.5rem;
}

.Pixel_AI_HackBackGround{
  transition: .2s linear;
  background: linear-gradient( to left,
    rgba(17, 44, 60, 0.8),
    rgba(226, 8, 76, 0.8),
    rgba(255, 211, 137, 0.8),
    rgba(180, 223, 255, 0.8)
  );
}
.Pixel_AI_HackBackGround:hover{
  transition: .2s linear;
  background:  none;
}
.close {
  margin-right: 15px;
  margin-top: 5px;
  font-size: 2rem;
  cursor: pointer;
  color: white;
  &.Pixel_AI_HackBackGround {
    background: none;
  }
  
}

.close:hover {
  color: #d14206;
  transition: 0.2s linear;
}

.fed {
  font-weight: 650;
  text-align: center;
  font-size: 1.5rem;
  line-height: 36px;
}

hr {
  margin-bottom: 5px;
  border: 1px solid #6e6c6a;
}

.chatbox {
  padding: 10px;
  padding-bottom: 0;
  height: 70vh;
  overflow-y: auto;
  color: black;
  scrollbar-width: none;
  display: flex;
  justify-content: space-between;
  gap: 0;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}

.messageBox {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}

.lockScroll {
    overflow: hidden;
}

.usermessage,
.botmessage {
  margin-top: 10px;
  font-size: 0.95rem;
  padding: 0.5rem;
  border-radius: 10px;
  max-width: 80%;
  position: relative;
  animation: fade-in 2s;
  padding-left: 1rem;
  padding-right: 1rem;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.usermessage {
  text-align: left;
  background-color: #e0e0e0;
  align-self: flex-end;
  color: #000;
}

.usermessage:after {
  content: "";
  position: absolute;
  top: -10px;
  left: 99%;
  width: 0px;
  height: 0px;
  border-bottom: 20px solid #e0e0e0;
  border-right: 20px solid transparent;
  transform: translateX(-50%) translateY(50%) rotate(87deg);
}

.botmessage {
  text-align: left;
  background: linear-gradient(
    260deg,
    rgba(255, 190, 11, 0.84) -29.7%,
    rgba(244, 43, 3, 0.84) 128.34%
  );
  color: #fff;
  &.omegaBackGround {
    background: linear-gradient(
      260deg,
      rgba(22, 175, 143, 0.84) -29.7%,
      rgba(1, 113, 227, 0.84) 128.34%
    );
  }
}

.botmessage:after {
  content: "";
  position: absolute;
  top: -20px;
  left: 2%;
  width: 0px;
  height: 0px;
  color: black;
  border-bottom: 20px solid #d14206;
  border-right: 20px solid transparent;
  transform: translateX(-50%) translateY(50%) rotate(315deg);
}
.omegaBackGround:after {
  border-bottom: 20px solid #0d6fac;
  border-right: 20px solid transparent;
  transform: translateX(-50%) translateY(50%) rotate(315deg);
}

.inputArea {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border-radius: 0px 0px 25px 25px;
  margin-bottom: 10px;
}

input {
  border: none;
  height: 2.5rem;
  width: 250px;
  padding: 0.5rem;
  padding-left: 1rem;
  color: black;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

input:focus {
  outline: none;
}

.sendMessage {
  border: none;
  height: 2.5rem;
  width: 50px;
  margin-top: 0rem;
  margin-bottom: 0px;
  font-size: 1.15rem;
  font-weight: 600;
  color: black;
  background-color: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}

.sendIcon {
  color: #ff8a00;
  margin-top: 0.3rem;
  &.omegaBackGround {
    color: #0d8bd8;
    background: white;
  }
  &.omegaBackGround:hover {
    background: #fff;
  }
}

.micButton {
  margin-bottom: 10px;
  padding-bottom: 5px;
  height: 40px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatbox::-webkit-scrollbar {
  width: 0px;
}

.thinking {
  height: 25px;
  padding-bottom: 20px;
}

.thinkingIndicator {
  margin-left: 2px;
  font-style: italic;
  color: #fff;
}

.botmessage {
  position: relative;
  padding-right: 40px; // Ensure enough space for icons
}

.messageActions {
  display: none; // Hide by default
  justify-content: flex-end; // Align to the right
  align-items: center;
  position: absolute;
  bottom: -3px;
  right: 10px; // Position icons to the right
  transform: translateY(-50%);
  width: auto; // Adjust width as necessary
  gap: 5px;
}

.messageActions button {
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
  margin: -5px 0px 1px 0;
}

.botmessage:hover .messageActions {
  display: flex;
  opacity: 2;
}

.omegaBackGround {
  background-color: #38ccff;
  background: linear-gradient(
    260deg,
    rgba(22, 175, 143, 0.84) -29.7%,
    rgba(1, 113, 227, 0.839) 128.34%
  );
}

.omegaBackGround:hover {
  transition: 0.2s linear;
  background: linear-gradient(
    260deg,
    rgba(22, 175, 143, 0.9) -29.7%,
    rgba(1, 113, 227, 0.9) 128.34%
  );
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (width >= 480px) {
  .chatcontainer {
    right: 0;
  }
}

@media (max-width: 1024px) {
  .chatcontainer {
    height: auto;
  }
  .chatbox {
    height: 50vh;
  }
  .micButton {
    margin-bottom: 5px;
    padding-bottom: 5px;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// Add media query for screens smaller than 768px
@media (max-width: 768px) {
  .chatcontainer {
    height: auto;
  }
  .chatbox {
    height: 70vh;
  }
  .micButton {
    margin-bottom: 5px;
    padding-bottom: 5px;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// Add media query for screens smaller than 480px
@media (max-width: 480px) {
  .chatcontainer {
    height: auto;
    margin-right: 15px;
  }
  .chatbottoggle {
    z-index: 1;
  }

  .chatbox {
    height: 60vh;
  }
}
