/* Popup.module.scss */

.popup {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  }
  
  .fadeIn {
    opacity: 1;
    visibility: visible;
  }
  
  .popupContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    width: 300px;
    max-width: 80%;
    text-align: center;
  }
  
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: #000;
  }
  