.sponser_all {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 2.77rem;
    border: 0.88px solid rgba(255, 255, 255, 0.40);
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(6.7px);
  }
  
  .sponser_card {
    height: 13rem;
    width: 13rem;
    border-radius: 2.5rem; // Fixed border-radius syntax
    border: 2px solid white;
    overflow: hidden;
  }
  
  .SponserCard_image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  