.container {
  background-color: #2f2f2f90;
  border: 1px solid #ffffff61;
  border-radius: 10px;
  padding: 15px;
  justify-content: center;
  align-items: center;
  width: 34vw;
  display: flex;
  flex-direction: row;

}
.form{
  width: auto;
  padding-left: 0;
  padding-right: 0;
}

.container:hover{
  border: 1px solid #ffffff70;
  box-shadow: 2px 3px #94949470;
}
.container h1 {
  color: #ff6b00;
  font-size: 1.3rem;
  margin-top: -1rem;
}
.login {
  width: 100%;
  height: 26rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // margin-right: 3%;
}
.sideImage {
  width: 100%;

  height: 32rem;
  object-fit: cover;
  border-radius: 10px;
  background-color: #949494;
  width: 28rem;
  margin-left: auto;
}

.circle {
  height: 25rem;
  width: 25rem;
  background-color: rgba(255, 92, 0, 0.19);
  filter: blur(100px);
  position: absolute;
  top: 20%;
  left: -12%;
  border-radius: 50%;
  overflow: hidden;
  z-index: 0;
}

.circle1 {
  height: 25rem;
  width: 25rem;
  background-color: rgba(255, 92, 0, 0.19);
  position: absolute;

  top: 5%;
  right: -5%;
  border-radius: 50%;
  filter: blur(100px);
  // overflow: hidden;
}

.ArrowBackIcon {
  position: absolute;
  top: 5%;
  left: 30px;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 800px) {

  .sideImage {
    display: none;
  }
  .login {
    width: 100%;
  }

  .circle {
    height: 18rem;
    width: 18rem;
    top: 30%;
    left: -15%;
    z-index: 0;
  }

  .circle1 {
    height: 18rem;
    width: 18rem;
    top: 5%;
    right: -15%;

    // overflow: hidden;
  }
}

@media (max-width: 1100px) {
  .container {
     width: 60vw;
  }

  .login {
    width: 60vw;
  }

  .circle {
    height: 22rem;
    width: 22rem;
    top: 30%;
    left: -15%;
    z-index: 0;
  }

  .circle1 {
    height: 20rem;
    width: 20rem;
    top: 5%;
    right: -15%;

    // overflow: hidden;
  }
}

@media (max-width: 500px) {
  .container {
    flex-direction: column;
    width: 80vw;
    margin-top: 40%;
    margin-right: 20px;
  }
  .sideImage {
    display: none;
  }
  .login {
    width: 100%;
  }

  .circle {
    height: 15rem;
    width: 15rem;
    top: 30%;
    left: 0%;
    z-index: 0;
  }

  .circle1 {
    height: 15rem;
    width: 15rem;
    top: 10%;
    right: -10%;

    // overflow: hidden;
  }

  .ArrowBackIcon {
    top: 2%;
    left:8%
  }
}
