

.carousel {
  display: flex;
  height: 25.00844rem;
  width: 36.37594rem;
  max-width: 800px;
  box-sizing: border-box;
}

.carousel_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.carousel_card {
  display: flex;
  flex: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 72px;
  border: 6px solid white; 
  box-sizing: border-box;
  box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.15);
  opacity: 0;
  pointer-events: none;
  transform: scale(1);
  transition: 0.5s ease-in-out;
}

.carousel_card_active {
  opacity: 1;
  transform: scale(1);
  pointer-events: all;
}

.card_image {
  width: 100%;
  object-fit: cover;
}

.card_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  padding: 40px 30px;
  align-items: flex-end;
}

.card_title {
  color: white;
  font-size: 30px;
}

.carousel_pagination {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, 0);
}

.pagination_dot {
  height: 10px;
  width: 10px;
  background-color: #f5f5f5;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
}

.pagination_dot:hover {
  transform: scale(1.2);
}

.pagination_dot_active {
  background-color: steelblue;
}
