/* Styles/Feedback.module.scss */

.feedback-container {
  background-color: #1C1C1C;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  position: relative;
}

.feedback-container .upQuote{
  width: 200px;
  height: 120px;
  position: absolute;
  right: 0%;
  top: 15%;
}

.feedback-container .downQuote{
  width: 200px;
  height: 120px;
  position: absolute;
  left: 0%;
  bottom: 10%;
  rotate: 180deg;
  margin-bottom: 20px;
}

.feedback-container h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.bottom_line{
  width: 8rem;    
  height: 0.3125rem;
  background: #D87B0C;
  border-radius:5px;
}
.heading{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.highlight {
  color: #FF8A00;
}

.feedbacks {
  display: flex;
  overflow: hidden; 
  scroll-behavior: smooth; 
  z-index: 1;
}

.feedback-card {
  border-radius: 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.40);
  background: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(7.5px);
  padding: 20px;
  margin: 10px;
  min-width: 350px;
  text-align: left;
  display: inline-block;
  height: auto; /* Allow card height to adjust based on content */
}

.feedback-text {
  font-size: 1em;
  margin-bottom: 20px;
  white-space: normal; /* Allow text to wrap */
}

.feedback-author {
  color: #FF8A00;
  font-weight: bold;
  margin-bottom: 5px;
  white-space: normal; 
}

.feedback-ev {
  font-size: 0.9em;
  color: #cccccc;
  white-space: normal; 
}

.button-container {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.scroll-button {
  background-color: #FF8A00;
  color: #1c1c1c;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  margin: 0 10px;
}

.scroll-button:hover {
  background-color: #e5940c;
}
