@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.container {
  background-color: transparent;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
}

.buttonContainer {
  font-size: 30px;
  letter-spacing: 0.02em;
  line-height: 40px;
  padding-bottom: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headInnerText{
  margin-left: 3.5rem;
  margin-top: 12px;
}
  
.headInnerText span{
  margin-right: 3px;
  background: linear-gradient(to right , #d03e21 40%, #FF8A00 );
  -webkit-background-clip: text;
  color: transparent;
  
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.eventList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 2rem;
  height: 420px;
  overflow: hidden scroll;
}

.eventList::-webkit-scrollbar {
  width: 10px;
  height: 0px;
  transition: .2s linear;
  background-color: #292929;
}

.eventList::-webkit-scrollbar-thumb {
  border-radius: 22px;
  background: var(--primary);
  // border: 1.5px solid hwb(0 11% 89%);
}

.eventList::-webkit-scrollbar-track {
  padding: 0px 20px;
  background-color: transparent;
}

.topSection {
  display: flex;
  flex-direction: row;
}
.topSectionInputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.topSectionInputContainer:nth-child(1) {
  margin-right: 2em;
}
.EventInput {
  margin-bottom: 2.2em;
  width: 90%;
}
.EventInputArea {
  width: 90%;
  height: 32vh;
}
.posterPreview {
  background-color: #55555562;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 286px;
  width: 96%;
  margin-top: 0.8em;
  z-index: 1;
}

.posterPreview p {
  font-size: 14px;
  opacity: 0.5;
}

@media (max-width: 768px) {
  .topSection {
    flex-direction: column;
  }
  .topSectionInputContainer:nth-child(1) {
    margin-right: 0;
  }
  .EventInput {
    width: 100%;
  }
  .EventInputArea {
    width: 100%;
  }
  .posterPreview {
    width: 100%;
  }
  .buttonContainer {
    display: none;
  }
}
