.mainPreview {
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: rgba(7, 7, 7, 0.33);
  z-index: 50;
  backdrop-filter: blur(2px);
}

.previewContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  background: #2e2e2e;
  border-radius: 10px;
  width: 70%;
  padding: 1.6em;
  height: 60%;
  margin: auto;
  z-index: 100;
  overflow-y: scroll;
  position: relative;
}

.previewContainer::-webkit-scrollbar {
  width: 6px;
}
.previewContainer::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
.previewContainer::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.closeBtn{
 position: fixed;
  top: 5.5rem;
  right: 12.5rem;
  color: #fff;
  cursor: pointer;
  z-index: 5;
}

.formFieldContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1em;
  border-radius: 8px;
  border: 0.5px solid transparent;
  background-color: rgba(128, 127, 126, 0.066);
  margin-bottom: 1em;
}
.formFieldContainer:hover {
  border: 0.5px solid #ff88008c;
  transition: 0.5s ease-in-out;
}
.formFieldContainer:active {
  border: 0.5px solid #ff88008c;
  transition: 0.5s ease-in-out;
}