.mainPreview {
  display: flex;

  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: rgba(7, 7, 7, 0.33);
  z-index: 50;
  backdrop-filter: blur(2px);
  overflow: hidden;
}



.previewContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  background: linear-gradient(
    90deg,
    rgba(32, 32, 32, 0.95) -11.52%,
    rgba(37, 37, 37, 0.95) 106.29%
  );
  border-radius: 1.26863rem;
  backdrop-filter: blur(4px);
  border: 1.2px solid rgba(214, 214, 214, 0.81);
  width: 40%;
  padding: 1.6em;
  height: 90%;
  margin: auto;
  z-index: 100;
  overflow: hidden;
  overflow-y: scroll;
}

.previewContainer::-webkit-scrollbar {
  width: 6px;
  // overflow: hidden;
}
.previewContainer::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
.previewContainer::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.closeBtn{
  position: absolute;
  width: 95%;
  display: flex;
  justify-content: flex-end;
  color: #fff;
  cursor: pointer;
  z-index: 5;
  
}

.no-scroll {
  overflow: hidden;
}

.formFieldContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // justify-content: space-evenly;
  column-gap: 3rem;
  width: 100%;
  padding: 1em;
  border-radius: 8px;
  border: 0.5px solid transparent;
  background-color: rgba(128, 127, 126, 0.066);
  margin-bottom: 1em;
}
.formFieldContainer:hover {
  border: 0.5px solid #ff88008c;
  transition: 0.5s ease-in-out;
}
.formFieldContainer:active {
  border: 0.5px solid #ff88008c;
  transition: 0.5s ease-in-out;
}

@media (max-width: 480px){
    .previewContainer{
      height: 65%;
      width: 90%;
    }

    .closeBtn{
      width: 80%;
    }

}