
.right {
  width: 100%;
}

.mainMember {
  height: 100%;
  width: 100%;
  position:relative;
  padding: 2em 0;
}

.eventmember {
  height: 100%;
  width: 100%;
  display: flex;
}

.buttons {
  margin-top: 0.5vw;
  display: flex;
  justify-content: space-evenly;
  height: auto;
  flex-wrap: wrap;
  margin-left: 0.25rem;
}

.buttons button {
  // padding: 0.5rem;
  border-radius: 10px;
  border: 0.3px #969393 solid;
  color: #ffff;
  margin-right: 0;
  height: 4rem;
  width: 6.5rem;
  font-size: 1rem;
  // margin-right: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.teamGrid {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  gap: 32px;
  justify-content: center;
  padding: 10px 50px;
  height: 360px;
  margin-left: 2vw;
  margin-right: 2vw;
  overflow: hidden scroll;
  scrollbar-width: none;
  // background-color: pink;
}

@media (max-width: 1024px) {
  .teamGrid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    padding: 0;
  }
}

@media (max-width: 768px) {
  .teamGrid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    padding: 0;
  }
}

@media (max-width: 480px) {
  .teamGrid {
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
  }
}
