
  .carousel_outer {
    width: 100%;
    height: 100%;
  }

  .inner_skeleton{
    background-color: #525252;
    height: 95%;
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50px;
  }

  .carousel_skeleton{
    width: 590px;
    height: 370px;
    background-color: #313131;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
    margin-right: 20px;
  }
  
  .carousel {
    width: 100%;
    height: 100%;
  }

  @media (max-width: 1024px){
    .carousel_skeleton{
        width: 370px;
        height: 210px;
    }
  }

  @media (max-width: 768px){
    .carousel_skeleton{
      margin-right: 0;
      height: 290px;
      margin-top: 25px;
    }
  }

  
  

  