.contactFormContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  background-color: #1C1C1C;
  color: white;
  margin-top: 1rem;
}

.contactFormContainer h2 {
  font-size: 3.8em;
  margin-bottom: 10px;
  margin-top: 1.5rem;
}

.bottomLine {
  width: 10rem;
  height: 0.3125rem;
  background: #D87B0C;
  border-radius: 5px;
  margin-bottom: 3rem;
}

.highlight {
  color: #FF8A00;
}

.formSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  margin-left: 4rem;
}

form {
  width: 60%;
  padding-left: 30px;
  padding-right: 60px;
}

.formGroup {
  margin-bottom: 15px;
}

.formGroup input,
.formGroup textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid rgba(255, 255, 255, 0.40);
  background: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(7.5px);
}

.formGroup input {
  height: 60px;
}

.formGroup textarea {
  height: 200px;
  resize: none;
}

form button {
  background-color: #FF8A00;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

.imageSection {
  width: 50%;
  position: relative;
  margin-left: 127.48px;
}

.backCircle {
  width: 20rem;
  height: 10rem;
  flex-shrink: 0;
  margin-top: 4rem;
  z-index: 1;
  padding-left: 40px;
  border-radius: 32.99306rem;
  opacity: 0.4;
  background: rgba(255, 153, 0, 0.70);
  mix-blend-mode: color-dodge;
  filter: blur(110.9010238647461px);
  position: absolute;
  right: 150px;
  top: 150px;
}

.contactFormContainer img {
  width: 80%;
  height: 70%;
}

.circle {
  height: 50vh;
  width: 30vh;
  background-color: #FF8A00;
  position: absolute;
  top: 15%;
  right: -10%;
  border-radius: 50%;
  filter: blur(150px);
  z-index: 1;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  form {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  }
  .formSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 0;
  }
  .circle {
    top: -5%;
    right: -20%;
  }
  .formGroup input,
  .formGroup textarea {
    width: 90%;
  }
  form button {
    width: 90%;
  }
  .imageSection {
    margin-left: 3rem;
  }
  .circle {
    margin-top: -30rem;
    margin-right: -6rem;
    z-index: -3;
    visibility: hidden;
  }
  .backCircle {
    position: absolute;
    left: 2%;
    top: -10%;
  }
}

@media (max-width: 768px) {
  .formSection {
    flex-direction: column;
    align-items: center;
  }
  form {
    width: 100%;
    padding: 0 20px;
  }
  .imageSection {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  .contactFormContainer img {
    width: 50%;
    height: auto;
  }
  .backCircle {
    width: 15rem;
    height: 7rem;
    right: 50%;
    top: 10%;
    transform: translateX(50%);
  }
  .circle {
    visibility: visible;
  }
}

@media (max-width: 560px) {
  .contactFormContainer h2 {
    font-size: 40px;
  }
  .bottomLine {
    width: 10rem;
  }
  form {
    padding: 30px 10px;
    padding-right: 30px;
  }
  .formGroup input,
  .formGroup textarea {
    font-size: 14px;
  }
  .formGroup input {
    height: 50px;
  }
  .formGroup textarea {
    height: 150px;
  }
  .imageSection {
    margin-top: 2rem;
    margin-right: 2rem;
  }
  form button {
    font-size: 14px;
    padding: 8px 16px;
    margin-top: 1rem;
  }
  .contactFormContainer img {
    width: 70%;
    height: auto;
    margin-right: 5rem;
  }
  .backCircle {
    width: 10rem;
    height: 5rem;
  }
  .circle {
    height: 30vh;
    width: 20vh;
    margin-top: -40rem;
    visibility: visible;
  }
}

@media (max-width: 480px) {
  .contactFormContainer h2 {
    font-size: 45px;
  }


  .form-section{
    margin-top: -3rem;
  }

  .form-group{
    width: 120%;
    margin-left: -2rem;
  }

  .submitbutton{
    margin-left: -2rem;
    width: 110%;
  }
  
}

