.contact-form-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  background-color: #1C1C1C;
  color: white;
  margin-top: 1rem;
}

.contact-form-container h2 {
  font-size: 3.8em;
  margin-bottom: 10px;
  margin-top: 1.5rem;
}

.bottom_line {
  width: 10rem;   
  height: 0.3125rem;
  background: #D87B0C;
  border-radius: 5px;
  margin-bottom: 3rem;
}

.h2{
  font-size: 3.8rem;
  margin-top: 3rem;
}
.highlight {
  color: #FF8A00;
}

.form-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  margin-left: 4rem;
}

form {
  width: 60%;
  padding-left: 30px;
  padding-right: 60px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid rgba(255, 255, 255, 0.40);
  background: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(7.5px);
}

.form-group input {
  height: 60px;
}

.form-group textarea {
  height: 200px;
  resize: none;
}

form button {
  background-color: #FF8A00;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

.image-section {
  width: 50%;
  position: relative;
  margin-left: 127.48px;
}

.backCircle {
  width: 20rem;
  height: 10rem;
  flex-shrink: 0;
  margin-top: 4rem;
  z-index: 1;
  padding-left: 40px;
  border-radius: 32.99306rem;
  opacity: 0.4;
  background: rgba(255, 153, 0, 0.70);
  mix-blend-mode: color-dodge;
  filter: blur(110.9010238647461px);
  position: absolute;
  right: 150px;
  top: 150px;
}

.contact-form-container img {
  width: 80%;
  height: 70%;
}

.circle {
  height: 50vh;
  width: 30vh;
  background-color: #FF5C00;
  position: absolute;
  top: 15%;
  right: -10%;
  border-radius: 50%;
  filter: blur(150px);
  z-index: 0;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  form {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    
  }
  .form-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 0;
  }
  .circle{
    top: -5%;
    right: -20%;
  }
  .form-group input,
  .form-group textarea{
    width: 90%;
  }
  form button{
    width: 90%;
  }
  .image-section{
    margin-left: 3rem;
  }
  .circle{
    margin-top: -30rem;
    margin-right: -6rem;
    z-index: -3;
    visibility: hidden;
  }

 .backCircle{
  position: absolute;
  left: 2%;
  top: -10%;
 }

}

@media (max-width: 768px) {
  .form-section {
    flex-direction: column;
    align-items: center;
  }

  form {
    width: 100%;
    padding: 0 20px;
  }

  .image-section {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }

  .contact-form-container img {
    width: 50%;
    height: auto;
  }

  .backCircle {
    width: 15rem;
    height: 7rem;
    right: 50%;
    top: 10%;
    transform: translateX(50%);
  }

  .circle {
    visibility: visible;
  }
}

@media (max-width: 560px) {
  .contact-form-container h2 {
    font-size: 40px;
  }

  .bottom_line {
    width: 10rem;
  }

  .h2{
    font-size: 45px;
  }

  form {
    padding: 30px 10px;
    padding-right: 30px;
  }

  .form-group input,
  .form-group textarea {
    font-size: 14px;
  }

  .form-group input {
    height: 50px;
  }

  .form-group textarea {
    height: 150px;
  }

  .image-section{
    margin-top: 2rem;
    margin-right: 2rem;
  }

  form button {
    font-size: 14px;
    padding: 8px 16px;
    margin-top: 1rem;
  }

  .contact-form-container img {
    width: 70%;
    height: auto;
    margin-right: 5rem;
  }

  .backCircle {
    width: 10rem;
    height: 5rem;
  }

  .circle {
    height: 30vh;
    width: 20vh;
    margin-top: -40rem;
    visibility: visible;
  }
}


@media (max-width: 480px) {
  .h2{
    font-size: 45px;
  }

  .form-section{
    margin-top: -3rem;
  }

  .form-group{
    width: 120%;
    margin-left: -2rem;
  }

  .submitbutton{
    margin-left: -2rem;
    width: 110%;
  }
  
}