.feedback-container {
  background-color: #1C1C1C;
  color: #ffffff;
  text-align: center;
  position: relative;
  overflow: hidden;
  padding-bottom: 60px;
}

.feedback-container .upQuote {
  width: 150px;
  height: 90px;
  position: absolute;
  right: 0%;
  top: 15%;
}

.feedback-container .downQuote {
  width: 150px;
  height: 90px;
  position: absolute;
  left: 0%;
  bottom: 0%;
  rotate: 180deg;
  margin-bottom: 5px;
}

.feedback-container h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  padding-top: 20px;
}

.bottom_line {
  width: 12rem;
  height: 0.3125rem;
  background: #D87B0C;
  border-radius: 5px;
  margin-bottom: 4rem;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: s0px;
  margin-top: 3rem;
  font-size: 1.7rem;
}

.highlight {
  color: #FF8A00;
}

.feedbacks-container {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.feedbacks {
  display: flex;
  animation: scroll 10s linear infinite;
  animation-play-state: running;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.feedback-card {
  border-radius: 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.40);
  background: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(7.5px);
  padding: 20px;
  margin: 10px;
  min-width: 300px;
  text-align: left;
  display: inline-block;
  height: auto; /* Allow card height to adjust based on content */
}

.feedback-text {
  font-size: 1em;
  margin-bottom: 20px;
  white-space: normal; /* Allow text to wrap */
}

.feedback-author {
  color: #FF8A00;
  font-weight: bold;
  margin-bottom: 5px;
  white-space: normal;
}

.feedback-ev {
  font-size: 0.9em;
  color: #cccccc;
  white-space: normal;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .feedback-container h2 {
    font-size: 1.5em;
  }

  .heading {
    font-size: 2rem;
  }

  .feedback-card {
    min-width: 250px;
    padding: 15px;
  }

  .feedback-container .upQuote,
  .feedback-container .downQuote {
    width: 100px;
    height: 60px;
  }
}

@media (max-width: 480px) {
  .feedback-container h2 {
    font-size: 40px;
  }

  .feedback-card {
    min-width: 200px;
    padding: 10px;
  }
  
  .heading{
    font-size: 1.8rem;
  }

  .feedback-text {
    font-size: 0.7em;
    margin-bottom: 15px;
  }

  .feedback-author {
    font-size: 0.7em;
  }

  .feedback-ev {
    font-size: 0.6em;
  }

  .feedbacks {
    display: flex;
    animation: scroll 9s linear infinite;
  }

  .feedback-container .upQuote,
  .feedback-container .downQuote {
    width: 80px;
    height: 50px;
  }
  .feedback-container .upQuote {
    top: 27%;
  }
  .feedback-container .downQuote {
    bottom: 10%;
  }
}