
.main{
    height: auto;
    width: full;
    background-color: #1C1C1C;
    
}

.hero{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #1C1C1C;
    position: relative; 
}

.hero1{
   height:100%;
    width: 100%;    
    padding:3vw;
    padding-top: 3vw;
    z-index: 1; //change- gola k upar text leya-Ritam
    // display: none;
}

.hero1one{
    padding-top: 10vw;
    padding-left: 3vw;
}
.hero2{
    // min-height: 100vh;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
   
   
}

.gola{
    height: 52rem;
    width: 50rem;
    background-color:  rgba(255, 92, 0, 0.19);
    filter: blur(100px);
    position: absolute;
    top: 60%; //change after hero position relative-Ritam
    left: -35%;
    border-radius: 50%;
    overflow: hidden;
}


.hero1 h2{
    color: #FFFFFF;
    font-size: 3vw;
}
.hero1 p{
    color: #FF5C00;
    margin-left: 0.5vw;
    
}
.e{
    display: flex;
    align-items: center;
}
.f{
    display: flex;
    align-items: center;
}
.hero1 h3{
    margin-left: 0.5vw;
    color: #FF5C00;
    font-size: 3vw;
}

.hero1two{
    padding-top: 4vw;
    padding-left: 3vw;
}

h4{
    font-size: 1vw;
   color: #FFFFFF;
    margin-left: 0.3vw;
}
h5{
    font-size: 1vw;
    color: #FF5C00;
    margin-left: 0.5vw;
}




@media screen and (max-width: 600px){

    .hero{
        // min-height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        background-color: #1C1C1C;
        position: relative; 
    }

    .hero1 h2{
        color: #FFFFFF;
        font-size: 5vw;
    }

    .hero1 h3{
        margin-left: 1.5vw;
        color: #FF5C00;
        font-size: 5vw;
    }
    
    h4{
        font-size: 3vw;
       color: #FFFFFF;
        margin-left: 0.3vw;
    }

    h5{
        font-size: 3vw;
        color: #FF5C00;
        margin-left: 1vw;
        margin-right: 1vw;
    }
    

    .hero1{
        margin-left:7%;
        margin-top: -5%;
    }

  
    .hero1{
        height:100%;
         width: 100%;    
         padding:3vw;
         padding-top: 3vw;
         z-index: 1; //change- gola k upar text leya-Ritam
         // display: none;
     }
}
