
.right {
  max-width: 85%;
  overflow-x: scroll;
}

.mainMember {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 2em 0;
}

.eventmember {
  height: 100%;
  width: 100%;
  display: flex;
}

.buttons {
  margin-top: 0.5vw;
  display: flex;
  justify-content: space-around;
}

.buttons button {
  padding: 8px 24px;
  border-radius: 20px;
  border: 0.3px #969393 solid;
  color: #ffff;
  margin-right: 1vw;
  cursor: pointer;
}

.teamGrid {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  gap: 32px;
  justify-content: center;
  padding: 10px 50px;
}

@media (max-width: 1024px) {
  .teamGrid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    padding: 0;
  }
}

@media (max-width: 768px) {
  .teamGrid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    padding: 0;
  }
}

@media (max-width: 480px) {
  .teamGrid {
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
  }
}
