* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  height: 100%;
  width: 100%;
  background-color: #1c1c1c;
  position: relative;
  overflow: hidden;
}

.blurred {
  filter: blur(4px);
  transition: filter 0.3s ease;
}

.eventwhole {
  height: 100%;
  width: 100%;
}

.eventcard {
  width: 96%;
  border-radius: 20px;
  margin-left: 5.5rem;
  margin-top: 0.7rem;
}

.line {
  width: 2px;
  background-color: white;
  margin-left: 6rem;
  margin-top: 3rem;
}

.error{
  padding: 30px 70px;
  z-index: 1;
  text-align: center;
  margin-top: 8rem;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 7rem;
}


.ring1,
.ring2 {
  position: absolute;
  background-color: #1c1c1c;
}

.ring1 {
  left: -6.5rem;
  top: 0.6rem;
}

.ring2 {
  left: -6.5rem;
  top: 0.6rem;
}

.ringLoad{
  position:absolute;
  left: -6.5rem;
  top: 0.6rem;
}

.name {
  // width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
  position: relative;
}

.name .w1 {
  font-size: 2.1rem;
  background: var(
    --Primary,
    linear-gradient(
      260deg,
      rgba(255, 190, 11, 0.84) -29.7%,
      rgba(244, 43, 3, 0.84) 128.34%
    )
  );
  font-weight: 700;
  // margin-right: 1rem;
  color: transparent;
  background-clip: text;
}

.name .w2 {
  color: white;
  font-weight: 700;
  font-size: 2.1rem;
}

.name .w1Past {
  font-size: 2.1rem;
  background: var(
    --Primary,
    linear-gradient(
      260deg,
      rgba(255, 190, 11, 0.84) -29.7%,
      rgba(244, 43, 3, 0.84) 128.34%
    )
  );
  font-weight: 700;
  // margin-right: 1rem;
  color: transparent;
  background-clip: text;
}

.name .w2Past {
  color: white;
  font-weight: 700;
  font-size: 2.1rem;
}

.cardsin {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  column-gap: 3rem;
  row-gap: 4rem;
}

.card {
  height: 90%;
  width: 100%;
  margin: 1vw 1vw 1vw 3vw;
  background-color: #7a7676;
  border-radius: 20px;
  position: relative;
  z-index: 0;
}

.pasteventcard {
  height: auto;
  width: 100%;
  border-radius: 20px;
  padding-right: 7rem;
  position: relative;
  margin-left: 5.5rem;
  // margin-top: 1rem;
}



.cardone {
  margin-left: 0;
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-around;
  // margin-left: -4rem;
  // margin-top: -5rem;
  column-gap:3.5rem;
  row-gap: 5.5rem;
}

.ca {
  height: 100%;
  width: 40%;
  border-radius: 20px;
  background-color: #7a7676;
  position: relative;
}

.bottom {
  height: 10vw;
  width: 100%;
  background-color: #1c1c1c;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 0.5rem;
}

.seeall {
  background-color: #1c1c1c;
  font-size: 1.5rem;
  border: none;
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 20px;
  background: var(
    --Primary,
    linear-gradient(
      260deg,
      rgba(255, 190, 11, 0.84) -29.7%,
      rgba(244, 43, 3, 0.84) 128.34%
    )
  );
  color: transparent;
  background-clip: text;
  cursor: pointer;
  margin-left:-7rem;
  // margin-right: 1rem;
  // margin-top: 1rem;
  // margin-bottom: 5rem;
}

.notify{
  background-color: #1c1c1c;
  font-size: 1.5rem;
  border: none;
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 20px;
  color: white;
  background-clip: text;
  cursor: pointer;
}

.seeall {
  text-decoration: underline;
}

.circle,
.circleone,
.circleleft,
.circletwo {
  background-color: rgba(255, 92, 0, 0.19);
  filter: blur(120px);
  position: absolute;
}

.circle {
  height: 20vw;
  width: 20vw;
  top: 15%;
  right: -15%;
  z-index: 3;
}

.circleone {
  height: 20vw;
  width: 20vw;
  top: 70%;
  left: -15%;
}

.circleleft {
  height: 20rem;
  width: 20rem;
  top: 15%;
  left: -11%;
}

.circletwo {
  height: 20vw;
  width: 20vw;
  bottom: -10%;
  right: -15%;
}

@media (max-width: 768px) {
  .line,
  .ring1,
  .ring2,
  .ringLoad {
    display: none;
  }

  .error{
    padding: 30px 70px;
    z-index: 1;
    text-align: center;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 10px;
  }

  .notify{
    background-color: #1c1c1c;
    font-size: 1.2rem;
    border: none;
    display: flex;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    color: white;
    background-clip: text;
    cursor: pointer;
  }

  .eventcard,
  .pasteventcard {
    width: 70%;
    border-radius: 20px;
    margin-inline: auto;
  }

  .eventcard {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pasteventcard {
    margin-top: 3rem;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

 

  .name p {
    font-size: 3rem;
    background: var(
      --Primary,
      linear-gradient(
        260deg,
        rgba(255, 190, 11, 0.84) -29.7%,
        rgba(244, 43, 3, 0.84) 128.34%
      )
    );
    font-weight: 700;
    margin-right: 1rem;
    color: transparent;
    background-clip: text;
  }

  .cardone {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0;
    row-gap: 3rem;
    // margin-top: -2rem;
  }

  .cardsin {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2.3rem;
  }

  .name .w1Past{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 80px;

  }

  .name h3 {
    background-color: #1c1c1c;
    font-size: 3rem;
  }
}

@media (max-width:480px){
  .error{
    padding: 30px 70px;
    z-index: 1;
    text-align: center;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 10px;
  }

  .seeall{
    text-align: center;
    margin-left: 1rem;
    margin-bottom: 2.5rem;
  }

  .bottom{
    height: 4rem;
  }

}

@media (min-width: 600px) {
  .cardone {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
    width: 100%;
    margin-inline: auto;
  }
}
@media (min-width: 700px) {
  .cardone {
    margin-left: 0;
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-around;
    // margin-left: -4rem;
    margin-top: 3rem;
  }
}


@media  (min-width:600px) and (max-width:650px) {
  .cardone{
    margin-left: 2.9rem;
  }
  
}
@media  (min-width:560px) and (max-width:600px) {
  .cardone{
    margin-left: 2rem;
  }


  
}

@media (max-width: 560px) {
  .seeall{
    margin-top: 1.5rem;
  }
}