.maindiv{
    position:absolute ;
    z-index: 20;
    top: 10%;
    left: 45%;

    display: flex;
  

    justify-content: center;
    align-items: center;
}
.closebtn:hover{
    transform:rotate(260deg);
}

.makeStyles-container-17 {
    // color: #000;
    height: auto;
    outline: none;
    padding: 30px;
    position: relative;
    max-width: 20rem;
    min-width: 20rem;
    background: white;
    width: 20rem;
    background: rgb(42, 42, 42);
    border-radius: 3px;
    border: 0px;
    box-shadow: rgb(24, 15, 0) 0px 3px 5px 2px;
    color: white;
}


@media screen and (max-width:600px){
    .maindiv{
        left: 15%;
    }
}