.shareContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 5;
}

.maindiv {
  z-index: 1000;

  border-radius: 10px;
  padding: 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 9rem;
}

.closebtn {
  cursor: pointer;
  position: absolute;
  right: 2.5rem;
  top: 2.4rem;
  font-size: 1.2rem;
  color: white;
  z-index: 20;
}

.closebtn:hover {
  transform: rotate(260deg);
}
