.navbar {
  position: fixed;
  width: 100%;
  backdrop-filter: blur(10px);
  transition: top 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
  top: 0;
  border-radius: 50px;
  margin-top: 10px;
}

.logo_div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 2.8rem;
  background: url("../../../assets/images/Logo/logo.svg") lightgray 50% / cover no-repeat;
}

.logo_text {
  width: 4.9rem;
  height: 2.3rem;
  background: url("../../../assets/images/Logo/FED.svg") no-repeat;
}

.visible {
  top: 0;
}

.navbarContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding-top: 5px;
}

.navLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  border-radius: 26px;
  transition: opacity 0.3s ease, visibility 0.8s ease;
  opacity: 1;
  visibility: visible;
  width: 100%;
}

.navLinks.hidden {
  opacity: 0;
  visibility: hidden;
}

.navLinks li {
  margin: 5px 15px;
  font-size: large;
}

.navLinks a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.navLinks a:hover,
.navLinks .activeLink {
  background: var(--primary);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.hidden {
  top: -100px;
}

.menuToggle {
  display: none;
  flex-direction: column;
  left: 0;
  margin-left: 30px;
  cursor: pointer;
  position: absolute;
}

.menuToggle .bar {
  height: 3px;
  width: 25px;
  background: #fff;
  margin: 3px 0;
  transition: all 0.3s;
  backdrop-filter: blur(20px);
}

.menuToggle .cross {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 25px;
  height: 25px;
}

.menuToggle .cross .crossBar {
  position: absolute;
  width: 100%;
  height: 3px;
  background: #fff;
  transition: all 0.3s;
}

.menuToggle .cross .crossBar:first-child {
  transform: rotate(45deg);
}

.menuToggle .cross .crossBar:last-child {
  transform: rotate(-45deg);
}

.navItems {
  border-radius: 1.65rem;
  border: 1.652px solid rgba(214, 214, 214, 0.81);
  background: linear-gradient(
    91deg,
    rgba(217, 217, 217, 0.3) -147.64%,
    rgba(217, 217, 217, 0) 143.9%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  white-space: wrap;
  font-family: Poppins;
  justify-content: space-between;
  height: 3.5rem;
  list-style: none;
  padding: 20px;
}

.activeLink {
  background: var(--primary);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.navLinks li a:hover {
  background: var(--primary);
  background-clip: text;
  color: transparent;
  transition: 0.2s ease-in;
}

.authButton {
  font-family: Poppins, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.65rem;
  height: 3.7rem;
  font-size: 1.2rem;
  background: linear-gradient(
    260deg,
    rgba(255, 190, 11, 0.84) -29.7%,
    rgba(251, 88, 33, 0.84) 128.34%
  );
  font-weight: 600;
  padding: 8px 35px;
  border: none;
  color: #fff;
  cursor: pointer;
}

.profileImgdiv {
  height: 60px;
  width: 130px;
  margin: 10px 0 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profileImgdiv img {
  height: 100%;
  width: auto;
  border-radius: 50%;
}

.mobNav {
  display: none;
}



@media (max-width: 768px) {

  .navbar{
    margin-top: 0;
    border-radius: 0;
  }
  .navbarContent {
    backdrop-filter: blur(20px);
    display: flex;
    align-items: flex-start;
    padding-top: 25px;
  }

  .mobNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 68%;
  }

  .logo_div {
    display: none;
  }

  .navItems {
    flex-direction: column;
    height: max-content;
    background: none;
    border: none;
    gap: 10px;
  }

  .navLinks {
    flex-direction: column;
    align-items: center;
    width: 90%;
    background-color: #202020;
    backdrop-filter: blur(20px);
    position: absolute;
    top: 90px;
    left: 20px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.8s ease, visibility 0.8s ease;
  }

  .profileImgdiv {
    width: fit-content;
    padding-top: 20px;
  }

  .profileImgdiv img {
    height: 70px;
  }

  .navLinks.active {
    opacity: 1;
    visibility: visible;
  }

  .menuToggle {
    display: flex;
  }

}
