.navbar {
  position: fixed;
  width: 100%;
  backdrop-filter: blur(10px);
  transition: top 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  top: 0;
  border-radius: 50px;
  margin-top: 10px;
}

.logo_div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  gap:10px;
}

.logo {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 2.8rem;
  background: url("../../../assets/images/Logo/logo.svg") lightgray 50% / cover no-repeat;
}

.logo_text {
  width: 4.9rem;
  height: 2.3rem;
  margin-right: -1.6rem;
  background: url("../../../assets/images/Logo/FED.svg") no-repeat;
}

.visible {
  top: 0;
}

.navbarContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5px 30px 0px 25px;
}

.navLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  border-radius: 26px;
  transition: opacity 0.3s ease, visibility 0.8s ease;
  opacity: 1;
  visibility: visible;
  width: 100%;
}

.navLinks.hidden {
  opacity: 0;
  visibility: hidden;
}

.navLinks li {
  margin: 5px 15px;
  font-size: large;
}

.navLinks a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.navLinks .activeLink {
  background: var(--primary);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.navLinks .omegaHover:hover {
  background: #38ccff;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.navLinks li a {
  position: relative;
  text-decoration: none;
  color: inherit;
}

.navLinks li a:hover {
  background: var(--primary);
  background-clip: text;
  color: transparent;
  transition: 0.2s ease-in;

  &::after {
    width: 100%;
    left: 0;
  }
}

.navLinks li a::after {
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  background: #fff;
  transition: width 0.3s ease, left 0.3s ease;
}

.hidden {
  top: -100px;
}

.menuToggle {
  display: none;
  flex-direction: column;
  left: 0;
  margin-left: 30px;
  cursor: pointer;
  position: absolute;
}

.menuToggle .bar {
  height: 3px;
  width: 25px;
  background: #fff;
  margin: 3px 0;
  transition: all 0.3s;
  backdrop-filter: blur(20px);
}

.menuToggle .cross {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 25px;
  height: 25px;
}

.menuToggle .cross .crossBar {
  position: absolute;
  width: 100%;
  height: 3px;
  background: #fff;
  transition: all 0.3s;
}

.menuToggle .cross .crossBar:first-child {
  transform: rotate(45deg);
}

.menuToggle .cross .crossBar:last-child {
  transform: rotate(-45deg);
}

.navItems {
  border-radius: 1.65rem;
  border: 1.652px solid rgba(214, 214, 214, 0.81);
  background: linear-gradient(
    91deg,
    rgba(217, 217, 217, 0.3) -147.64%,
    rgba(217, 217, 217, 0) 143.9%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  white-space: wrap;
  font-family: Poppins;
  justify-content: space-between;
  height: 3.5rem;
  list-style: none;
  padding: 5px;
  margin-left: -1.5rem;
}

.authButton {
  font-family: Poppins, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.65rem;
  height: 3rem;
  font-size: 1.2rem;
  background: linear-gradient(
    260deg,
    rgba(255, 190, 11, 0.84) -29.7%,
    rgba(244, 43, 3, 0.84) 128.34%
  );
  font-weight: 600;
  padding: 5px 20px;
  padding-bottom: 1vh;
  border: none;
  color: #fff;
  cursor: pointer;
}

.authButton:hover {
  transition: .2s linear;
  background: linear-gradient(260deg, rgba(255, 190, 11, .9) -29.7%, rgba(244, 43, 3, .9) 128.34%);
}

.activeLinkOmega {
  color: #38ccff !important;
}

.omegaButton {
  background-color: #38ccff !important;
  background: linear-gradient(
    260deg,
    rgba(22, 175, 143, 0.84) -29.7%,
    rgba(1, 113, 227, 0.84) 128.34%
  );
}

.omegaButton:hover {
  transition: .2s linear;
  background: linear-gradient(
    260deg,
    rgba(22, 175, 143, 0.9) -29.7%,
    rgba(1, 113, 227, 0.9) 128.34%
  );
}


.profileImgdiv {
  height: 60px;
  width: 130px;
  margin: 10px 0 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profileImgdiv img {
  height: 90%;
  width: auto;
  border-radius: 50%;
}

.mobNav {
  display: none;
}

@media (max-width: 768px) {

  .navbar {
    margin-top: 0;
    border-radius: 0;
  }

  .navbarContent {
    backdrop-filter: blur(20px);
    display: flex;
    align-items: flex-start;
    padding-top: 25px;
    padding-right: 0px;
  }

  .mobNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 68%;
  }

  .logo_div {
    display: none;
  }

  .navItems {
    flex-direction: column;
    height: max-content;
    background: none;
    border: none;
    gap: 10px;
    padding-top:  2vh;
    padding-bottom: 2vh;
    margin-left: 1%;
  }

  .navLinks {
    flex-direction: column;
    align-items: center;
    width: 90%;
    background-color: #202020;
    backdrop-filter: blur(20px);
    position: absolute;
    top: 90px;
    left: 20px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.8s ease, visibility 0.8s ease;
    padding-bottom: 2vh;
  }

  .profileImgdiv {
    width: fit-content;
    padding-top: 20px;
  }

  .profileImgdiv img {
    height: 70px;
  }

  .navLinks.active {
    opacity: 1;
    visibility: visible;
  }

  .menuToggle {
    display: flex;
  }

  .authButton{
    margin-right: 1.4rem;
  }
}
