.headerMain {
  background: transparent;
}

.sticky {
  position: relative;
  top: 0;
  width: 100%;
  background-color: transparent;
}

.nav {
  justify-content: space-between;
  color: white;
  display: flex;
  width: 99vw;
  background: rgba(41, 41, 41, 0.1);
  border-radius: 40px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  text-align: center;
  margin-top: 1rem;
  padding: .5rem 0rem .5rem 2rem;
  align-items: center;
  z-index: 10;
  padding-right: 2%;
  transition: transform 0.3s ease-in-out;
}

.nav.hide {
  transform: translateY(-100%);
}

.navItems a {
  color: #fff;
  text-decoration: none;
  position: relative;
}

.navItems a:hover {
  background: var(--primary);
  background-clip: text;
  color: transparent;
  transition: 0.2s ease-in;
}

.navItems a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navItems a:hover:after { 
  width: 100%; 
  left: 0; 
}

.logo_div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
}

.logo {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 2.8rem;
  background: url("../../../assets/images/Logo/logo.svg") lightgray 50% / cover no-repeat;
}

.logo_text {
  width: 4.9rem;
  height: 2.3rem;
  background: url("../../../assets/images/Logo/FED.svg") no-repeat;
}

.navItems {
  border-radius: 1.65rem;
  border: 1.652px solid rgba(214, 214, 214, 0.81);
  background: linear-gradient(
    91deg,
    rgba(217, 217, 217, 0.3) -147.64%,
    rgba(217, 217, 217, 0) 143.9%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-weight: 600;
  white-space: nowrap;
  font-family: Poppins;
  justify-content: space-around;
  padding: 0.8125rem 2.25rem;
  height: 3.5rem;
  list-style: none;
  margin-left: -1.25rem; 
  &:hover{
    color: var(--Tab-Color, #ff8a00);
  }
}

.navItems:hover {
  color: var(--Tab-Color, #ff8a00);
}

.navLink {
  font-family: Poppins, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  justify-content: center;
  padding: 8px 0;
  cursor: pointer;
  color: white;
}

.activeLink a {
  background: var(--primary);
  -webkit-background-clip: text;
  background-clip: text;
}

.authButton {
  font-family: Poppins, sans-serif;
  justify-content: center;
  border-radius: 1.65rem;
  height: 3.7rem;
  font-size: 1.2rem;
  background: linear-gradient(
    260deg,
    rgba(255, 190, 11, 0.84) -29.7%,
    rgba(244, 43, 3, 0.84) 128.34%
  );
  font-weight: 600;
  padding: 8px 29px;
  border: none;
  color: #fff;
  cursor: pointer;
  // margin-top: -0.5rem;
  // padding-inline: 1rem;
  margin-right: 1rem;
}

@media screen and (max-width: 915px) {
  .navItems {
    margin-right: 2rem;
  }
}

.profileImgdiv {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.profileImg {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
}

@media screen and (max-width: 825px) {
  .nav {
    padding: 0.25rem 1.25rem;
  }
  
  .navItems {
    gap: 0.5rem;
    padding: 0.2125rem 0.8rem;
    height: 2.5rem;
    font-size: 1rem;
  }
  
  .authButton {
    height: 2.5rem;
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
}

@media screen and (max-width: 600px) {
  .navItems {
    display: none;
  }

  .authButton {
    display: none;
  }

  .nav {
    display: none;
  }
}
