h2 {
  text-align: center;
  font-size: 50px;
  margin-top: 20px;
}

h2 span {
  color: #FF8A00;
}


.alumniSection {
  text-align: left;
  padding: 30px;
  color: white;
}

.alumniSection h3 {
  font-size: 40px;
  color: #FF8A00;
  margin-bottom: 60px;
}

.alumniSection span {
  margin-left: 25px;
  font-weight: 800;
}


.alumniGrid {
  display: grid;
  grid-template-columns: repeat(4, minmax(150px, 1fr));
  gap: 32px;
  justify-content: center;
  padding: 10px 50px;
  z-index: 2;
}

.lastRowCentered {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin-top: 1.5rem;
  margin-bottom: 4rem;
}

// .circle {
//   height: 35vh;
//   width: 30vh;
//   background-color: rgba(255, 92, 0, 0.29);
//   position: absolute;
//   top: 70%;
//   left: -10%;
//   border-radius: 50%;
//   filter: blur(150px);
// }

// .circle2 {
//   height: 35vh;
//   width: 30vh;
//   background-color: rgba(255, 92, 0, 0.29);
//   position: absolute;
//   // bottom: -500%;
//   right: -5%;
//   border-radius: 50%;
//   filter: blur(150px);
// }


/* Responsive styles */

@media (max-width: 1024px) {
  // .circle2 {
  //   // bottom: -200%;
  //   right: -25%;
  // }
  // .circle {
  //   left: -30%;
  //   // bottom: -350%;
  // }
  .alumniGrid{
    gap: 3rem;
  }
}

@media (max-width: 768px) {
  // .circle {
  //   left: -20%;
  // }
  // .circle2 {
  //   display: none;
  // }


  h2 {
    font-size: 2.5rem;
  }

  .alumniSection h3 {
    font-size: 2em;
  }

  .alumniSection span {
    margin-left: 5px;
  }

  .para p{
    font-size: 13px;
  }
}

@media (max-width: 550px) {
  .alumniGrid {
    gap: 5vw;
  }
}


@media (max-width: 480px) {
  .alumniGrid {
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
  }

  .lastRowCentered{
    margin-top: 1.7rem;
  }

  h2 {
    font-size: 2rem;
  }
  // .circle {
  //   left: -30%;
  //   background-color: rgba(255, 92, 0, 0.59);
  //   overflow: hidden;
  // }

  .alumniSection span {
    margin-left: 5px;
  }

  // .circle2 {
  //   bottom: -300%;
  //   left: 30%;
  //   background-color: rgba(255, 92, 0, 0.59);
  //   overflow: hidden;
  // }
  
}

@media (max-width: 430px){
  .lastRowCentered{
    margin-bottom: 0;
  }
}

@media (max-width: 415px) {
  .alumniGrid {
    grid-template-columns: repeat(2, 1fr);
    gap: 6vw;
  }
  .lastRowCentered{
    margin-bottom: 0;
  }
}
