.eventBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin-top: 70px;
  }
  
  .eventHeading {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .eventHeading h1{
    font-size: 40px;
  }
  
  .eventCards {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  
  .cardItem {
    width: 100%;
    display: flex;
    gap: 50px;
    row-gap: 40px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2% 4%;
  }
  
  .card {
    margin-top: 40px;
    display: flex;
    width: 550px;
    height: 300px;
    backdrop-filter: blur(10px);
    background: #0b0b0b11;
    border: solid;
    border-color: white;
    border-width: 1px;
  }
  
  .card_img {
    width: 60%;
    position: relative;
  }
  
  .card_content h2 {
    font-size: 120%;
  }
  
  .card_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .card_content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 3%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .card_content p {
    margin: 0;
    line-height: 1.5;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 95%;
    height: 210px;
    overflow: scroll;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  .card_content button {
    width: 50%;
    --border: 5px;
    --slant: 0.7em;
    --color: blue;
    font-size: 80%;
    padding: 2%;
    border-bottom: rgb(0, 136, 255) solid 3px;
    border-right: rgb(0, 136, 255) solid 3px;
    font-weight: bold;
    position: relative;
    color: black;
    background: #e9e5e5;
    box-shadow: 0 0 0 00px inset var(--s,#0000), 0 var(--border) 0 0 var(--color), var(--border) 0 0 0 var(--color);
    clip-path: polygon(var(--slant) 0, 100% 0, 100% calc(100% - var(--slant)), calc(100% - var(--slant)) 100%, 0 100%, 0 var(--slant));
    transition: border 0.2s ease-in 0.5s, font-size 0.3s ease-in-out;
    &:hover {
      font-size: 15px;
      width: 50%;
      transition: ease-out 0.5 , font-size 0.5s ease-in-out 0.5s;
      border: none;
    }
  }
  
  .card_content button::after {
    content: "";
    position: absolute;
    transform: rotate(135deg);
    bottom: -30px;
    right: -16px;
    width: 70px;
    height: 15.5px;
    background-color: rgb(0, 136, 255);
    border-bottom-right-radius: 12px;
    z-index: -1;
  }
  
  .cut {
    background-color: #000;
    width: 60px;
    margin-top: -14px;
    margin-left: -24.5px;
    height: 42px;
    border-top-right-radius: 30px;
    border-top-left-radius: 100px;
    border-bottom: solid white 1px;
    z-index: 1;
    position: absolute;
    transform: rotate(-46deg);
  }
  
  .cut2 {
    background-color: #000;
    width: 55px;
    height: 50px;
    margin-top: 43%;
    margin-left: 54.7%;
    border-top: solid white 1px;
    position: absolute;
    transform: rotate(-45deg);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 400px;
  }
  
  @media (max-width: 700px) {
    .cut2 {
      width: 49px;
      margin-top: 54%;
      right: -7.5%;
    }
    .cut{
      margin-top: -14.5px;
    }
  
    .card {
      width: 335px;
      height: 235px;
    }
  
    .card_content h2 {
      font-size: 80%;
    }
  
    .card_content p {
      font-size: 70%;
    }
  
    .card_content button {
      font-size: 50%;
      border-bottom-right-radius: 5px;
    }
    .card_content button:hover {
      width: 50%;
      font-size: 10px;
    }

    .cardItem {
      align-items: center;
      flex-direction: column;
    }
    .eventHeading h1{
      font-size: 20px;
  }
}

@media (max-width:450px){
  .card{
    width: 330px;
    height: 200px;
  }
  .cut2{
    margin-top: 44%;
    // right: -9%;
  }
  .cut{
    margin-top: -20px;
    width: 45px;
    margin-left: -22px;
  }
  .card_content button{
    margin-bottom: 0px;
  }
  .card_content button:hover{
    width: 50%;
    font-size: 9px;
  }
  .card_content p{
    font-size: 60%;
  }
  .card_content h2{
    font-size: 90%;
    margin-top: -15px;
  }
}