

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.texticon{
  display: flex;
  align-items: center;
  justify-content: center;
}

.text p {
  font-size: 47.45px;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  color: white;
}

.text .highlight {
  font-size: 135.84px;
  font-family: Poppins;
  font-weight: 700;
  background: rgb(255,190,11);
background: linear-gradient(270deg, rgba(255,190,11,1) 0%, rgba(244,43,3,1) 100%);
  // -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text #faded::after {
  font-size: 135.84px;
  font-family: Poppins;
  font-weight: 700;
  background: rgb(255,190,11);;
  background: linear-gradient(90deg, rgba(255, 190, 11, 0) 0%, rgba(244, 43, 3, 0.178) 100%);/* This will mirror the text */
  content: "FED";
  display: flex;
  margin-right: -0.75rem;
  margin-top: -7rem;
  justify-content: center;
  align-content: center;
  transform: rotateX(180deg);
  // -webkit-background-clip: text;
  background-clip: text;
}

.backcircle{
  width: 20rem;
  height: 10rem;
  flex-shrink: 0;
  margin-top: 4rem;
  z-index: 1;
  padding-left: 40px;
  border-radius: 32.99306rem;
  opacity: 0.4;
  background: rgba(255, 153, 0, 0.977);
  mix-blend-mode: color-dodge;
  filter: blur(110.9010238647461px);
  position: absolute;
  right: 20px;
  top: 10px;
}

.circle{
    height: 50vh;
    width: 30vh;
    background-color: rgba(255, 92, 0, 0.19);
    position: absolute;
   
    top: 85%;
    left: -8%;
    border-radius: 50%;
    filter: blur(100px);
}

.circleCenter{
  height: 30rem;
  width: 30rem;
  margin-top: 176px;
  position:absolute;
  left: 38%;
  border-radius: 50%;
  filter: blur(100px);
  top: 10%;
  background-color: rgba(255, 92, 0, 0.19);
}

.circle1{
  height: 50vh;
  width: 30vh;
  background-color: rgba(255, 92, 0, 0.19);
  position: absolute;
 
  top: 30%;
  right: -5%;
  border-radius: 50%;
  filter: blur(100px);
  // overflow: hidden;
}

.socialMcontainer{
  height: auto;
  width: auto;
  margin-top: 5rem;
}

.socialMedia{
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 100vh; /* Ensure the parent takes full viewport height */
  // width: 100vw;  /* Ensure the parent takes full viewport width */
  margin-top: -3rem;
  margin-bottom: 5%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: transparent;
    height: auto;
    width: 1323px;
    gap: 58.55px;
    padding-left: 59px;
  }

  .sidebyside{
    height: 730px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }


  .instagramfeed{
    height: 348.45px;
    width: 350px;
  }

  .instagramreel{
    height: 930px;
  }
  
  .leftColumn, .centerColumn, .rightColumn {
    display: flex;
    flex-direction: column;
    height: 730px;
  }

  .leftColumn{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .centerColumn{
    margin-top: 0.5rem;
  }
  
  .post {
    margin-bottom: 20px;
  }
  
  .post img, .middleColumn img, .rightColumn img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
  }
  
  .post img:hover, .middleColumn img:hover, .rightColumn img:hover {
    transform: scale(1.05);
  }



/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .socialMedia {
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -70rem;
  }
  
  .leftColumn {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .highlight{
    margin-left: 4rem;
  }

  .text #faded::after {
    font-size: 135.84px;
    font-family: Poppins;
    font-weight: 700;
    background: rgb(255,190,11);;
    background: linear-gradient(90deg, rgba(255, 190, 11, 0) 0%, rgba(244, 43, 3, 0.178) 100%);/* This will mirror the text */
    content: "FED";
    display: flex;
    margin-left: 03.95rem;
    margin-top: -7rem;
    justify-content: center;
    align-content: center;
    transform: rotateX(180deg);
    // -webkit-background-clip: text;
    background-clip: text;
  }
  
  
  .sidebyside{
    margin-top: 70rem;
    margin-left: 18.7rem;
    display: flex;
    gap: 30px;
    width: auto;
    height: 350px;
  }

  .instagramfeed , .instagramfeed2 {
    flex: 1;
  }
  
  .centerColumn {
    width: 100%;
    margin-top: 70rem;
  }
  
  .instagramreel {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .rightColumn {
    width: 100%;
    margin-top: -1.6rem;
  }
  
  .linkedinfeed {
    width: 100%;
    display: flex;
    justify-content: center;
  }
    
  }

  @media (max-width: 910px) {
    .socialMedia {
      display: flex;
      justify-content: center;
      height: auto;
      width: 100%;
    }
    
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: -70rem;
    }
    
    .leftColumn {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  
    .highlight{
      margin-left: 4rem;
    }
  
    .text #faded::after {
      font-size: 135.84px;
      font-family: Poppins;
      font-weight: 700;
      background: rgb(255,190,11);;
      background: linear-gradient(90deg, rgba(255, 190, 11, 0) 0%, rgba(244, 43, 3, 0.178) 100%);/* This will mirror the text */
      content: "FED";
      display: flex;
      margin-left: 03.95rem;
      margin-top: -7rem;
      justify-content: center;
      align-content: center;
      transform: rotateX(180deg);
      // -webkit-background-clip: text;
      background-clip: text;
    }
    
    
    .sidebyside{
      margin-top: 70rem;
      margin-left: 15rem;
      display: flex;
      gap: 30px;
      width: auto;
      height: 350px;
    }
  
    .instagramfeed , .instagramfeed2 {
      flex: 1;
    }
    
    .centerColumn {
      width: 100%;
      margin-top: 70rem;
    }
    
    .instagramreel {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    
    .rightColumn {
      width: 100%;
      margin-top: -1.6rem;
    }
    
    .linkedinfeed {
      width: 100%;
      display: flex;
      justify-content: center;
    }
         
  }

@media (max-width: 830px) {
  .socialMedia {
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -70rem;
  }
  
  .leftColumn {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .highlight{
    margin-left: 4rem;
  }

  .text #faded::after {
    font-size: 135.84px;
    font-family: Poppins;
    font-weight: 700;
    background: rgb(255,190,11);;
    background: linear-gradient(90deg, rgba(255, 190, 11, 0) 0%, rgba(244, 43, 3, 0.178) 100%);/* This will mirror the text */
    content: "FED";
    display: flex;
    margin-left: 03.95rem;
    margin-top: -7rem;
    justify-content: center;
    align-content: center;
    transform: rotateX(180deg);
    // -webkit-background-clip: text;
    background-clip: text;
  }
  
  
  .sidebyside{
    margin-top: 70rem;
    margin-left: 12.9rem;
    display: flex;
    gap: 30px;
    width: auto;
    height: 350px;
  }

  .instagramfeed , .instagramfeed2 {
    flex: 1;
  }
  
  .centerColumn {
    width: 100%;
    margin-top: 70rem;
  }
  
  .instagramreel {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .rightColumn {
    width: 100%;
    margin-top: -1.6rem;
  }
  
  .linkedinfeed {
    width: 100%;
    display: flex;
    justify-content: center;
  }
    
}


@media (max-width: 810px) {
  .socialMedia {
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -70rem;
  }
  
  .leftColumn {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .highlight{
    margin-left: 4rem;
  }

  .text #faded::after {
    font-size: 135.84px;
    font-family: Poppins;
    font-weight: 700;
    background: rgb(255,190,11);;
    background: linear-gradient(90deg, rgba(255, 190, 11, 0) 0%, rgba(244, 43, 3, 0.178) 100%);/* This will mirror the text */
    content: "FED";
    display: flex;
    margin-left: 03.95rem;
    margin-top: -7rem;
    justify-content: center;
    align-content: center;
    transform: rotateX(180deg);
    // -webkit-background-clip: text;
    background-clip: text;
  }
  
  
  .sidebyside{
    margin-top: 70rem;
    margin-left: 11.9rem;
    display: flex;
    gap: 30px;
    width: auto;
    height: 350px;
  }

  .instagramfeed , .instagramfeed2 {
    flex: 1;
  }
  
  .centerColumn {
    width: 100%;
    margin-top: 70rem;
  }
  
  .instagramreel {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .rightColumn {
    width: 100%;
    margin-top: -1.6rem;
  }
  
  .linkedinfeed {
    width: 100%;
    display: flex;
    justify-content: center;
  }
    
}


@media (max-width: 768px) {

  .text p{
    size: 40px;
  }

  .socialMedia {
    display: flex;
    justify-content: center;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .leftColumn {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .sidebyside{
    margin-top: 84rem;
    margin-left: 8.5rem;
    display: flex;
    gap: 10px;
    width: auto;
    height: 350px;
  }

  .instagramfeed , .instagramfeed2 {
    flex: 1;
  }
  
  .centerColumn {
    width: 100%;
    margin-top: 80rem;
  }
  
  .instagramreel {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .rightColumn {
    width: 100%;
    margin-top: -15rem;
  }
  
  .linkedinfeed {
    width: 100%;
    display: flex;
    justify-content: center;
  }
    
  }

@media (max-width: 480px) {
  .text p {
    font-size: 40.45px;
    text-align: center;
    font-family: Poppins;
    font-weight: 600;
    color: white;
    margin-right: 0;
  }

  .socialMcontainer{
    margin-top: 5rem;
  }

  .text .highlight {
    font-size: 100.84px;
    font-family: Poppins;
    font-weight: 700;
    margin-right: 100rem;
    background: rgb(255,190,11);
    background: linear-gradient(270deg, rgba(255,190,11,1) 0%, rgba(244,43,3,1) 100%);
    // -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .fed{
    margin-left: -70.5px;
    padding-left: -3rem;
  }

  .text #faded::after {
    font-size: 100.84px;
    font-family: Poppins;
    font-weight: 700;
    background: rgb(255,190,11);;
    background: linear-gradient(90deg, rgba(255,190,11,0.06214985994397759) 0%, rgba(244,43,3,0.54) 100%);/* This will mirror the text */
    content: "FED";
    display: flex;
    margin-right: -0.75rem;
    margin-top: -5.2rem;
    justify-content: center;
    align-content: center;
    transform: rotateX(180deg);
    // -webkit-background-clip: text;
    background-clip: text;
  }


  .instalogo{
    height: 50px;
    width: 50px;
  }

  .linkedinlogo{
    height: 50px;
    width: 50px;
  }

  .socialMedia {
    display: flex;
    justify-content: center;
    margin-top: 60rem;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .leftColumn {
    margin-top: -110rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .sidebyside{
    margin-top: 107rem;
    margin-right: 10rem;
    display: flex;
    gap: 30px;
    width: auto;
    height: 350px;
  }

  .instagramfeed , .instagramfeed2 {
    flex: 1;
  }
  
  .centerColumn {
    width: 100%;
    margin-top: 105rem;
    margin-right: 2.3rem;
  }
  
  .instagramreel {
    width: auto;
    zoom: -5%;
    display: flex;
    justify-content: center;
  }
  
  .rightColumn {
    width: 100%;
    margin-top: -5.6rem;
    margin-right: 2.3rem;
  }
  
  .linkedinfeed {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .circle{
    height: 50vh;
    width: 30vh;
    background-color: #ff5e00;
    position: absolute;
    z-index: -1;
   
    top: 95%;
    left: -8%;
    border-radius: 50%;
    filter: blur(80px);
}

.circle1{
  height: 50vh;
  width: 30vh;
  background-color: #ff5e00;
  position: absolute;
  top: 30%;
  right: -6%;
  border-radius: 50%;
  filter: blur(80px);
  z-index: -5;
  // overflow: hidden;
}
    
  }

  @media (max-width:360px) {
    .text p {
      font-size: 30.45px;
      text-align: center;
      font-family: Poppins;
      font-weight: 500;
      color: white;
    }
  
    .text .highlight {
      font-size: 90.84px;
      font-family: Poppins;
      margin-right: 0.5rem;
      font-weight: 600;
      background: rgb(255,190,11);
      background: linear-gradient(270deg, rgba(255,190,11,1) 0%, rgba(244,43,3,1) 100%);
      // -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    
    .text #faded::after {
      font-size: 90.84px;
      font-family: Poppins;
      font-weight: 600;
      background: rgb(255,190,11);;
      background: linear-gradient(90deg, rgba(255,190,11,0.06214985994397759) 0%, rgba(244,43,3,0.54) 100%);/* This will mirror the text */
      content: "FED";
      display: flex;
      margin-right: -0.8rem;
      margin-top: -4.6rem;
      justify-content: center;
      align-content: center;
      transform: rotateX(180deg);
      // -webkit-background-clip: text;
      background-clip: text;
    }
  
    .instalogo{
      height: 20px;
      width: 20px;
    }
  
    .linkedinlogo{
      height: 20px;
      width: 20px;
      padding-left: 20rem;
    }  
  
    .instalogo{
      height: 50px;
      width: 50px;
    }
  
    .linkedinlogo{
      height: 50px;
      width: 50px;
    }
  
    .socialMedia {
      display: flex;
      justify-content: center;
      margin-top: 70rem;
    }
    
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .leftColumn {
      margin-top: -110rem;
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    
    .sidebyside{
      margin-top: 107rem;
      margin-right: 10rem;
      display: flex;
      gap: 20px;
      width: auto;
      height: 350px;
    }
  
    .instagramfeed , .instagramfeed2 {
      flex: 1;
    }
    
    .centerColumn {
      width: 100%;
      margin-top: 105rem;
      margin-right: 2.3rem;
    }
    
    .instagramreel {
      width: auto;
      zoom: -5%;
      display: flex;
      justify-content: center;
    }
    
    .rightColumn {
      width: 100%;
      margin-top: -5.6rem;
      margin-right: 2.3rem;
    }
    
    .linkedinfeed {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  
    .circle{
      height: 50vh;
      width: 30vh;
      background-color: #ff5e00;
      position: absolute;
      z-index: -1;
     
      top: 95%;
      left: -8%;
      border-radius: 50%;
      filter: blur(80px);
  }
  
  .circle1{
    height: 50vh;
    width: 30vh;
    background-color: #ff5e00;
    position: absolute;
    top: 30%;
    right: -6%;
    border-radius: 50%;
    filter: blur(80px);
    z-index: -5;
    // overflow: hidden;
  }
  
  }