
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6.9px;
  width: 100%;
  gap: 1.5rem;
}

.inpTag {
  width: 100%;
  margin-top: 24.6px;
  padding: 7px 0px 7px 7px;
  background-color: transparent;
  outline: none;
  border: none;
  color: black;
  border-bottom: 1px solid black;
}

.inpNameTag {
  display: flex;
  padding: 0.7rem;
  width: 100%;
  align-items: center;
  outline: none;
  background: rgba(30, 30, 30, 0.65);
  color: #fff;
  border-radius: 0.34rem;
  border: 1.095px solid var(--primary-white, #fff);
}

.inputNoTag{
  display: flex;
  padding: 0.7rem;
  width: 100%;
  align-items: center;
  outline: none;
  background: rgba(30, 30, 30, 0.65);
  color: #fff;
  border:none;
  outline: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.inpSchoolTag{
  padding: 0.7rem;
  width: 100%;
  margin-top: 4rem;
  align-items: center;
  outline: none;
  background: rgba(30, 30, 30, 0.65);
  color: #fff;
  border-radius: 0.34rem;
  border: 1.095px solid var(--primary-white, #fff);
}
.inpYearTag{
  padding: 0.7rem;
  width: 100%;
  margin-top: 1rem;
  align-items: center;
  outline: none;
  background: rgba(30, 30, 30, 0.65);
  color: #fff;
  border-radius: 0.34rem;
  border: 1.095px solid var(--primary-white, #fff);
}



.inpTag::placeholder {
  font-weight: 300;
  font-size: 0.938rem;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  text-align: left;
}

.hrs {
  width: 100%;
  height: 1px;
}

.btn {
  width: 100%;
  margin-top: 42.15px;
  padding: 7.3px;
  color: #fff;
  font-family: "Mulish", sans-serif;
  font-size: 19.8px;
  cursor: pointer;
  border-radius: 0.5rem;
border: 1.652px solid #FFF;
background: #FF6B00;
}

.member {
  margin-top: 19.8px;
  font-family: "Mulish", sans-serif;
  color: #fff;
  font-size: 20.5px;
}

.nameInpDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px 15px;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.spn {
  background-color: transparent;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 1.063rem;
  color: #f45725;
  text-decoration: underline;
}

.spn:hover {
  text-decoration: none;
}

.year {
  outline: none;
  width: 100%;
  margin-top: 24.6px;
  color: #fff;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  background: rgba(30, 30, 30, 0.65);
}

.year option {
  color: black;
}

.modal {
  background: black;
  text-align: center;
  align-items: center;
  height: 250px;
  width: 400px;
  position: fixed;
  top: 40%;
  border-radius: 5%;
}

.modalcontent h2 {
  font-family: "Rubik", sans-serif;
  padding-top: 20px;
}

.modalcontent h3 {
  font-family: "Rubik", sans-serif;
  padding-top: 10px;
}

.ok {
  margin-top: 40px;
  width: 90px;
  height: 30px;
  background-color: #f45725;
  border: none;
  border-radius: 6%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.modalcontent img {
  width: 200px;
  margin-top: -60px;
}

.mobileno_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 0.34rem;
  border: 1.095px solid var(--primary-white, #fff);
  // margin-top: ;
}

.mobileno91 {
  margin-right: 7px;
  font-size: 13.5px;
  font-family: "Mulish", sans-serif;
  font-weight: 500;
  color: #fff;
  padding: 10.6px 10px;
  // border-radius: 5px;
  // border-style: solid;
  border-right: 1px solid #fff ;
  // border-color: #616161;
  // border-width: 1px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  cursor: not-allowed;
}

.mobileno_container input {
  margin-top: 0px;
  outline: none;
  border: none;
}

.CollegeInpmDIv {
  position: relative;
}

.DropDownmDiv {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#f4572540;;
  color: #fff;
  border-radius: 0px 0px 5px 5px;
  padding: 10px 5px;
  text-align: center;
  font-family: "Mulish", sans-serif;
  box-shadow: 0px 1px 1px 1px grey;
  cursor: pointer;
  transition: all 0.2s;
  width: 100%;
}

.tandCDiv {
  width: 120%;
  margin-top: 20px;
  text-align: center;
  margin-left: -10%;
}

.acceptLabel {
  font-family: "Mulish", sans-serif;
  color: #000;
  cursor: pointer;
  margin-left: 7px;
  text-align: justify;
  width: 100%;
}

.acceptLabel a {
  color: #f45725;
  text-decoration: underline;
}

@media (max-width: 1200px) and (min-width: 1000px) {
  .glassDiv {
    width: 50%;
    max-width: 50%;
  }
}

@media (max-width: 1000px) and (min-width: 800px) {
  .glassDiv {
    width: 60%;
    max-width: 60%;
  }
}

@media (max-width: 800px) and (min-width: 760px) {
  .glassDiv {
    width: 65%;
    max-width: 65%;
  }
}

@media (max-width: 760px) and (min-width: 530px) {
  .glassDiv {
    width: 70%;
    max-width: 70%;
    padding: 15px 40px 40px 40px;
  }
}

@media (max-width: 530px) {
  .glassDiv {
    width: 80%;
    max-width: 80%;
    padding: 15px 40px 40px 40px;
  }

  .wFFFDiv {
    margin-top: 30.8px;
    padding: 35px 35px;
  }
}

@media (max-width: 400px) {
  .glassDiv {
    width: 100%;
    max-width: 100%;
    padding: 15px 40px 40px 40px;
  }

  .wFFFDiv {
    margin-top: 30.8px;
    padding: 30px 30px;
  }
}

.orMDIv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.orLine {
  width: 70px;
  height: 0.5px;
  background-color: #000;
}

.or {
  background-color: transparent;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.063rem;
  color: black;
}
