// .Teams {
//   padding: 20px;
// }

h2 {
  text-align: center;
  font-size: 3.5em;
  margin-top: 20px;
}

h2 span {
  color: #FF8A00;
}

.para p{
  padding: 30px;
  z-index: 1;
  text-align: center;
  margin-top: 10px;
  padding-bottom: 0;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: -15px;
}

.teamSection {
  text-align: left;
  padding: 30px;
  color: white;
  // margin-top: 20px;
}

.teamSection h3 {
  font-size: 3em;
  color: #FF8A00;
  margin-bottom: 60px;
}

.teamSection span {
  margin-left: 25px;
  font-weight: 800;
}

strong {
  font-weight: 800;
}

.teamTitle {
  color: #fff;
}

.teamGrid {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  gap: 32px;
  justify-content: center;
  padding: 10px 50px;
  z-index: 0;
}

.directorGrid {
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  padding-left: 13rem;
  padding-right: 13rem;
  padding-top: 0;
}


.circle {
  height: 50vh;
  width: 30vh;
  background-color: #FF8A00;
  position: absolute;
  top: 80%;
  left: -10%;
  border-radius: 50%;
  filter: blur(150px);
}

.circle2 {
  height: 50vh;
  width: 30vh;
  background-color: #FF8A00;
  position: absolute;
  bottom: -700%;
  right: -5%;
  border-radius: 50%;
  filter: blur(150px);
}

.alumniBut{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 60px;
  color: #FF8A00;
  font-size: 25px;

}

.alumniBut a{
  margin-right: 10px;
  font-weight: 700;
  padding: 20px;
  padding-right: 0;
  font-size: 25px;
  color: #FF8A00;
}

.alumniBut a:hover{
  text-decoration: underline;
}

/* Responsive styles */

@media (max-width: 1024px) {
  .circle2 {
    bottom: -200%;
    right: -25%;
  }
  .circle {
    left: -30%;
  }
  .directorGrid {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0;
  }
}

@media (max-width: 768px) {
  .teamGrid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    padding: 0px;
  }
  .directorGrid {
    grid-template-columns: repeat(3, 1fr); 
    padding: 0 2rem;
  }
  .circle {
    left: -20%;
  }
  .circle2 {
    bottom: -500%;
    right: -20%;
  }

  h2 {
    font-size: 2.5rem;
  }

  .teamSection h3 {
    font-size: 2em;
  }

  .teamSection span {
    margin-left: 5px;
  }

  // .teamSection {
  //   padding: 50px;
  // }
  .para p{
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  .teamGrid {
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
  }
  .directorGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  h2 {
    font-size: 2.5rem;
  }

  .teamSection h3 {
    font-size: 1.7em;
  }

  .teamSection span {
    margin-left: 5px;
  }

  .circle2 {
    bottom: -500%;
    right: -30%;
  }
  .circle {
    left: -40%;
  }

  .alumniBut {
    margin-right: 10px;
    padding-right: 15px;
  }
  .alumniBut a{
    font-size: 20px;
  }
}
