@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import "/src/assets/styles/Global.scss";
@import 'react-date-picker/dist/DatePicker.css';
@import 'react-calendar/dist/Calendar.css';
@import "./assets/styles/Global.scss";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.react-date-picker__wrapper {
  border: none !important;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $page-color;
  color: $text-color;
  overflow-x: hidden;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $page-color;
}

.pageExt {
  max-width: 1750px;
  width: 100%;
  background-color: $page-color;
  overflow: hidden;
}

body::-webkit-scrollbar {
  width: 10px;
  height: 0px;
  transition: .2s linear;
  background-color: #292929;
}

body::-webkit-scrollbar-thumb {
  border-radius: 22px;
  background-color: #FF8A00;
  // border: 1.5px solid hwb(0 11% 89%);
}

body::-webkit-scrollbar-track {
  padding: 0px 20px;
  background-color: transparent;
}
