.sponsors-section {
    text-align: center;
    padding: 20px;
    background-color: #000;
    color: #fff;
    width: 90vw;
  }
  
  .sponsors-section h2 {
    font-size: 50px;
    display: inline-block;
  }
  .heading {
    color: #00D1FF;
    font-size: 50px;
    display: inline-block;
  }
  
  .sponsors-logos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .sponsor {
    margin: 20px;
  }
  
  .sponsor img {
    max-width: 100px;
    height: auto;
  }
  
  @media (max-width: 768px) {
      .sponsors-section {
          text-align: center;
          padding: 20px;
          background-color: #000;
          color: #fff;
          width: 90vw;
          margin: 0 auto; 
        }
        
        .sponsors-section h2 {
          font-size: 32px;
          display: inline-block;
        }
        .heading {
          color: #00D1FF;
          font-size: 32px;
          display: inline-block;
        }
        .sponsor img {
          max-width: 80px;
          height: auto;
        }
    }
    
    @media (max-width: 480px) {
      .sponsors-section {
          text-align: center;
          padding: 20px;
          background-color: #000;
          color: #fff;
          width: 90vw;
        }
        .heading {
          color: #00D1FF;
          font-size: 24px;
          display: inline-block;
        }
        
        .sponsors-logos {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
        }
        
        .sponsor {
          margin: 20px;
        }
        
        .sponsor img {
          max-width: 60px;
          height: auto;
        }
    }