@import "/src/assets/styles/Global.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

// Import global styles
@import "/src/assets/styles/Global.scss";

.card {
    // height: 260px;
    width: 350px;
    background-color: rgb(46, 44, 44);
    margin-left: 10px;
    margin-top: 80px;
    border-radius: 20px;
    font-size: 0.7rem;
    color: $text-color;
    text-align: center;
    // position: relative;
    font-family: 'Poppins', sans-serif;
 
    
}

.eventname {
    font-size: 1.1rem;
    background: var(--Primary, linear-gradient(260deg, rgba(255, 190, 11, 0.84) -29.7%, rgba(244, 43, 3, 0.84) 128.34%));
    color: transparent;
    background-clip: text;
    margin-top: -0.5rem;
  }

.img {
    height: 200px;
    width: 350px;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 2px solid $border-color;
    border-bottom: none;
}

.backimg {
    height: 200px;
    width: 350px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.date {
    height: 60px;
    width: 60px;
    background: $back-glass;
    border: 1px solid $border-color;
    color: $text-color;
    position: absolute;
    top: 1rem;
    left: 1rem;
    border-radius: 10px;
    text-align: center;
    font-size: 1rem;
    padding: 7px;
}



.backtxt {
    // height: 60px;
    width: 350px;
    padding: 12px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 2px solid $border-color;
    border-top: none;
}



.seemore{
    
    background: var(--Primary, linear-gradient(260deg, rgba(255, 190, 11, 0.84) -29.7%, rgba(244, 43, 3, 0.84) 128.34%));
    color: transparent;
    background-clip: text;
    cursor: pointer;
    font-weight:700;
}
/* Media Query for max 400px */
@media (max-width: 400px) {
    
}
