@import "/src/assets/styles/Global.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

@import "/src/assets/styles/Global.scss";




.card {
  height: 18rem;
  width: 22rem;
  background-color: rgb(46, 44, 44);

  border-radius: 20px;
  font-size: 0.7rem;
  color: $text-color;
  position: relative;

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 2px solid $border-color;
  font-family: "Poppins", sans-serif;

}

.eventname {
  font-size: 1.3rem;
  font-weight: 600;
  background: var(
    --Primary,
    linear-gradient(
      260deg,
      rgba(255, 190, 11, 0.84) -29.7%,
      rgba(244, 43, 3, 0.84) 128.34%
    )
  );
  color: transparent;
  background-clip: text;
}

.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;

  border-bottom: none;
}

.backimg {
  height: 70%;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
}

.date {
  height: 60px;
  width: 60px;
  background: $back-glass;
  border: 1px solid $border-color;
  color: $text-color;
  position: absolute;
  top: 1rem;
  left: 1rem;
  border-radius: 10px;
  text-align: center;
  font-size: 1rem;
  padding: 7px;
}

.backtxt {
  width: 90%;
  margin-inline: auto;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 0.1rem;
  margin-bottom: 0;
}

.eventdesc {
  color: white;
  font-size: 0.75rem;
}

.seeMore {
  background: var(
    --Primary,
    linear-gradient(
      260deg,
      rgba(255, 190, 11, 0.84) -29.7%,
      rgba(244, 43, 3, 0.84) 128.34%
    )
  );
  color: transparent;
  background-clip: text;
}
