@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
.fedShow {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    margin-top: 10px;
  }
  .fedshowcircle {
    position: absolute;
    top: 10rem;
    right: -10%;
    background: linear-gradient(#F9AB00, #2F0048, #2F0048, #4B00C6 );
    filter: blur(40px);
    border-radius: 50%;
    transform: rotate(0deg);
    height: 50vh;
    width: 20vw;
  }
  .imgMobile {
    display: none;
  }
  .fedshowcircle2 {
    position: absolute;
    top: 10rem;
    left: -10%;
    background: linear-gradient(#F9AB00, #2F0048, #2F0048, #4B00C6 );
    filter: blur(40px);
    border-radius: 50%;
    transform: rotate(0deg);
    height: 50vh;
    width: 20vw;
  }
  .heroImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .head {
    // margin-top: 3rem;
    // font-size: 5rem;
    text-align: center;
    margin-top: 5rem;
  }
  
  .subHead {
    // font-size: 2rem;
    font-weight: 200;
    text-align: justify;
    color:  #e47404;
  }
  .foot{
    margin-top: -9rem;
    font-size: 1.7rem;
    text-align: center;
    font-weight: bold;
    margin-top: 5rem;
  }
  .subfoot {
    font-size: 2rem;
    font-weight: 800;
    text-align: justify;
    color:  #e47404
  }
  
  .imageContainer {
    display: flex;
  
    align-items: flex-end;
    justify-content: center;
    margin-top: 2rem;
  }
  
  .mobLogo{
    display: none;
  }
  
  .fedShow .imgLeft {
    height: 400px;
   // margin-top: 7.5rem;
    // margin-right: 4rem;
    margin-bottom: 1rem;
    //   width: 70%;
  }
  
  .fedShow .imgRight {
    height: 400px;
    margin-top: 7.5rem;
    margin-left: 4rem;
    margin-bottom: 1rem;
    //   width: 70%;
  }
  
  .fedShow .imgRight2 {
    height: 400px;
    margin-top: 7.5rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
    //   width: 70%;
  }
  
  .showName {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -4rem;
    margin-left: -1rem;
    width: 307.8px;
    height: 218.7px;
  }
  
  .info {
      color: white;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      // justify-content: center;
      margin-top: 3rem;
      font-weight: 600;
    z-index: 1;
      
      
    
      p {
        display: flex;
        align-items: center;
        // justify-content: center;
        font-size: 1.1rem;
        margin: 5px;
        font-family: "Poppins", sans-serif;
      }
     
    .head{
      font-size: 45px;
      font-weight: 600;
      margin-bottom: -1.2rem;
      }
      .subhead{
        font-size: 45px;
        color: #F48424;
        font-weight: 600;
      }
      .icon {
        margin-right: 5px;
        color: #F48424;
      }
      img{
        margin-top: 0.5rem;
       
      }
      .date{
        margin-top: 0.5rem;
        // margin-left: -1rem;
      }
    }
    
    .speakbtn{
      height: 100%;
      width: 100%;
      display: flex;
      
      align-items: center;
    }
  
    .registerBtn {
      margin-top: 20px;
      --border: 5px;
      --slant: 0.7em;
      --color: #fbab04;
      font-size: 20px;
      width: 80%;
      padding: 0.7rem 1.8rem ;
      border-radius: 10px;
      font-weight: bold;
      max-width: 12rem;
      transition: ease-in 0.5s, font-size 0.3s ease-in-out;


      position: relative;
      color: white;
      background: #F48424;
      

  } 
  .text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    p:first-child {
      font-size: 1.2rem;
      margin: 20px 0;
    }
  
    p:last-child {
      margin: 0.5rem 0 1.5rem 0;
      font-size: 1rem;
    }
  
  }
  
  @media (max-width: 768px) {
    .fedShow .imgLeft{
      margin-right : -1rem ;
      margin-top: 13rem;
    }
    .fedShow .imgRight{
      margin-left: -1rem;
      margin-top: 13rem;
    }
  }
  
  @media (max-width: 480px) {
  
    .mobLogo{
      display: block;
    }
    .evelogo{
      display: none;
    }
    .imgLeft{
      display: none;
    }
    .imageContainer { 
      flex-direction: column;
    }
    .imgMobile {
      display: block;
      margin-bottom: 2rem;
      height: 280px;
      width: 370px;
    }
    .speakerMoble{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .fedshowcircle2 {
      position: absolute;
      top: 6%;
      right: 47%;
      background: linear-gradient(#F9AB00, #2F0048, #2F0048, #4B00C6);
      filter: blur(40px);
      border-radius: 50%;
      transform: rotate(108deg);
      height: 32vh;
      width: 44vw;
      margin-left: -16%;
      display: none;
    }
    
    .fedshowcircle {
      top: 62%;
      margin-left: 213%;
      margin-right: -1%;
      width: 27%;
      height: 32%;
      display: none;
    }
    .info {
      .head{
        font-size: 28px;
        margin-bottom: 0.1rem;
      }
      .subhead{
        font-size: 28px;
      }
    }
    .head {
      font-size: 28px;
      margin-top: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .subhead{
      font-size: 28px;
      margin-left: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .fedShow {
      margin-top: 0px;
    }
  
    .text {
      width: 100%;
      text-align: center;
      margin: 30px 10px;
    }
  
    .text p {
      width: 70%;
      white-space: wrap;
    }
    .foot{
      text-align: center;
      font-size: 1.3rem;
      margin:  1rem;
    }
    .subfoot{
      text-align: center;
      display: flex;
      font-size: 1.3rem;
      margin: 1rem;
    }
  
    .registerBtn {
      margin-top: 30px;
      font-size: 85%;
    }

    .info p{
        
        justify-content: center;

      }
    .info{
      align-items: center;
    }
    .speakbtn{
      justify-content: center;
    }
  }
  