@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.nav {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  font-size: 19.83px;
  background-color: #1c1c1c80;
  color: #fff;
  text-align: center;
  padding: 20px 56px;
  position: relative;

  .icon {
    display: none;
    cursor: pointer;
    margin-left: 1rem;
  }

  .profile {
    display: none;
  }

  .name {
    display: none;
  }

  h1.fedtitle {
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 1px 0.497px 1px #F45725;
    display: flex;
    cursor: pointer;
    &.blur {
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px); // Safari support
    }
    margin-right: 1.5rem;
  }

  .navItems {
    border-radius: 1.65rem;
    background: linear-gradient(91deg, rgba(217, 217, 217, 0) -147.64%, rgba(217, 217, 217, 0.00) 143.9%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25rem;
    gap: 20px;
    font-weight: 500;
    white-space: nowrap;
    padding: 13px 46px;
    height: 3.5rem;
    list-style: none;
    margin: 0;

    &.open {
      display: flex;
    }

    .navLink {
      font-family: Poppins, sans-serif;
      justify-content: center;
      padding: 4px 0;
      cursor: pointer;

      &:hover {
        color: var(--Tab-Color, #ff8a00);
      }
    }
  }

  .navItems a {
    text-decoration: none;
  }

  .blur {
    backdrop-filter: blur(95px);
    -webkit-backdrop-filter: blur(95px); /* Safari support */
  }

  .authButton {
    font-family: Poppins, sans-serif;
    justify-content: center;
    border-radius: 26px;
    width: 14rem;
    height: 3.5rem;
    font-size: 19px;
    background: linear-gradient(260deg, rgba(255, 190, 11, 0.84) -29.7%, rgba(244, 43, 3, 0.84) 128.34%);
    font-weight: 600;
    padding: 13px 46px;
    border: none;
    color: #fff;
    margin-bottom: 20px;
  }

  .mobilesignup {
    display: none;
  }

  @media (max-width: 601px) {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    height: 78px;
    z-index: 2;
    width: 100%;

    .navLink a {
      font-family: Poppins;
      font-weight: 500;
    }

    .mobile {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      margin-top: 0.5rem;
    }

    .icon {
      display: block;
      height: 40px;
      width: 44.85px;
      color: #fff;
      cursor: pointer;
      padding-top: 0.5rem;
      background: linear-gradient(91deg, rgba(217, 217, 217, 0) -147.64%, rgba(217, 217, 217, 0) 143.9%);
      backdrop-filter: blur(50px); // Apply the blur effect
      -webkit-backdrop-filter: blur(50px); // Safari support
      border-radius: 16.35px;
    }

    .authButton {
      display: none;
    }

    .profileImg {
      display: block;
      height: 90.45px;
      width: 91px;
      background-color: white;
      border-radius: 50%;
    }

    .logo {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 1rem;
    }

    .fedtitle {
      color: white;
      font-family: 'Rubik', sans-serif;
      font-size: 2rem;
      font-weight: bold;
      text-shadow: 1px 0.497px 1px #F45725;
      display: flex;
      cursor: pointer;
      &.blur {
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px); // Safari support
      }
    }

    .mobilesignup {
      display: flex;
      font-family: Poppins, sans-serif;
      justify-content: center;
      align-items: center;
      border-radius: 26px;
      width: 14rem;
      height: 3.5rem;
      font-size: 1.2rem;
      background: linear-gradient(260deg, rgba(255, 190, 11, 0.84) -29.7%, rgba(244, 43, 3, 0.84) 128.34%);
      font-weight: 600;
      padding: 13px 46px;
      border: none;
      color: #fff;
      margin-top: 20px;
    }

    .listbody {
      height: 100vh;
      width: 100vw;
      position: absolute;
      top: 6rem;
      left: 0;
      backdrop-filter: blur(10px);
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }

    .blur {
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
    }

    .navItems {
      flex-direction: column;
      width: 85%;
      align-items: center;
      height: max-content;
      gap: 0.1vh;
      align-items: center;
      justify-content: center;
      display: none;
      background-color: #202020;

      &.open {
        display: flex;
      }

      .navLink {
        margin: 0.5rem 0;
        text-align: center;
      }
    }
  }
}

@media (max-width: 601px) {
  .blur {
    backdrop-filter: blur(90px); // Apply the blur effect
    -webkit-backdrop-filter: blur(90px); // Safari support
  }
}

@media screen and (min-width: 601px) {
  .navItems {
    display: none;
  }

  .authButton {
    display: none;
  }

  .nav {
    display: none;
  }
}

.hidden {
  display: none;
}
